.cards > ul {
  list-style: none;
  margin: 0;
  margin-top: var(--udexSpacer40);
  padding: 0;
  display: grid;

  /* XS one per row */
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--udexSpacer40) var(--udexGridGutters);
}

/* S - 1 or 2 per row */
@media (width >= 640px) {
  body.hub-l1 .cards:not(.elems1, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul, body.hub-l1 .cards.grid-4-column > ul, body.hub-l1 .cards.grid-6-column > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* M - 2 or 3 per row */
@media (width >= 980px) {
  body:not(.hub-l1) .cards:not(.elems1, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body:not(.hub-l1) .cards.grid-3-column > ul, body:not(.hub-l1) .cards.grid-4-column > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body.hub-l1 .cards:not(.elems1, .elems2, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul, body.hub-l1 .cards.grid-4-column > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* L and XL - 3 or 4 per row */
@media (width >= 1280px) {
  body:not(.hub-l1) .cards:not(.elems1, .elems2, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body:not(.hub-l1) .cards.grid-3-column > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body:not(.hub-l1) .cards.grid-4-column > ul {
    grid-template-columns: [leftcol] 4fr [rightcol] 4fr 0.75fr;
  }

  body:not(.hub-l1) .cards.grid-4-column > ul > li:nth-child(odd) {
    grid-column: leftcol;
  }

  body.hub-l1 .cards:not(.elems1, .elems2, .elems3, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(4, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards:not(.icons) > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.icons .cards-card-image {
  margin-left: 16px;
}

.cards.icons .cards-card-image img {
  width: 64px;
  aspect-ratio: 1;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards.tiles > ul {
  grid-row-gap: var(--udexSpacer20);
}

.cards.tiles > ul > li {
  display: block;
}

.cards.tiles > ul > li .cards-card {
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
  border-radius: var(--udexRadiusL, 12px);
  padding: 0 var(--udexSpacer16, 16px);
  box-shadow: var(--sapContent_Shadow0);
  background: #fff;
  color: var(--udexCoreTextDark);
  height: 56px;
  display: flex;
  align-items: center;
}

.cards.tiles .cards-card-image img {
  width: 24px;
  aspect-ratio: 1;
}

.cards .cards-card-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.cards .cards-card-link > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--udexColorNeutralBlack);
}

.cards.tiles .cards-card-body {
  margin: 0 0 0 var(--udexSpacer24);
}

.cards.tiles .cards-card-body > *:first-child {
  margin: 0;
}

@media (width >= 980px) {
  .cards.tiles > ul {
    grid-row-gap: var(--udexSpacer40);
  }

  .cards.tiles > ul > li .cards-card {
    font-size: var(--udexTypographyHeadingMediumXXSFontSize);
    padding: var(--udexSpacer24, 24px)  var(--udexSpacer20, 20px);
    height: 100px;
    display: block;
  }

  .cards.tiles .cards-card-image img {
    width: 40px;
  }

  .cards.tiles .cards-card-body {
    margin: 16px 0;
  }
}

.cards.tiles > ul > li .cards-card:hover {
  border-radius: var(--udexRadiusL, 12px);
  box-shadow: var(--sapContent_Shadow1);
}

.cards.tiles > ul > li .cards-card-link .cards-card:hover {
  outline: 1px solid var(--udexColorBlue6);
}

.cards.tiles > ul > li .cards-card-link .cards-card:active:hover {
  outline: 2px solid var(--udexColorBlue6);
  box-shadow: var(--sapContent_Shadow0);
}
