.cards > ul {
  list-style: none;
  margin: 0;
  margin-top: var(--udexSpacer40);
  padding: 0;
  display: grid;

  /* XS one per row */
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--udexGridGutters);
}

/* S - 1 or 2 per row */
@media (width >= 640px) {
  body.hub-l1 .cards:not(.elems1, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul, .hub-l1 .cards.grid-4-column > ul, .hub-l1 .cards.grid-6-column > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* M - 2 or 3 per row */
@media (width >= 980px) {
  body:not(.hub-l1) .cards:not(.elems1, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body:not(.hub-l1) .cards.grid-3-column > ul, .cards.grid-4-column > ul {
    grid-template-columns: repeat(2, 1fr);
  }

  body.hub-l1 .cards:not(.elems1, .elems2, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul, .hub-l1 .cards.grid-4-column > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* L and XL - 3 or 4 per row */
@media (width >= 1280px) {
  body:not(.hub-l1) .cards:not(.elems1, .elems2, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body:not(.hub-l1) .cards.grid-3-column > ul {
    grid-template-columns: repeat(3, 1fr);
  }

  body:not(.hub-l1) .cards.grid-4-column > ul {
    grid-template-columns: [leftcol] 4fr [rightcol] 4fr 0.75fr;
  }

  body:not(.hub-l1) .cards.grid-4-column > ul > li:nth-child(odd) {
    grid-column: leftcol;
  }

  body.hub-l1 .cards:not(.elems1, .elems2, .elems3, .grid-3-column, .grid-4-column, .grid-6-column, .grid-9-column, .grid-10-column) > ul {
    grid-template-columns: repeat(4, 1fr);
  }

  body.hub-l1 .cards.grid-3-column > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards.icons .cards-card-image {
  margin-left: 16px;
}

.cards.icons .cards-card-image img {
  width: 64px;
  aspect-ratio: 1;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards:not(.icons) > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
