/* stylelint-disable selector-class-pattern */

.fast-facts-wrapper {
    &:not(:first-child) {
        margin-block-start: var(--udexSpacer40);
    }

    &:not(:last-child) {
        margin-block-end: var(--udexSpacer40);
    }
}

.section:is(.background-dark, .background-light) .fast-facts-wrapper:first-child {
    margin-block-start: var(--udexSpacer56);
}

.fast-facts {
    --fast-facts-display-color: var(--udexColorBlue8);

    &.text-pink {
        --fast-facts-display-color: var(--udexColorPink8);
    }

    &.text-indigo {
        --fast-facts-display-color: var(--udexColorIndigo8);
    }

    &.text-blue {
        --fast-facts-display-color: var(--udexColorBlue8);
    }

    &.text-red {
        --fast-facts-display-color: var(--udexColorRed8);
    }

    &.text-raspberry {
        --fast-facts-display-color: var(--udexColorRaspberry8);
    }

    &.text-teal {
        --fast-facts-display-color: var(--udexColorTeal8);
    }

    &.text-mango {
        --fast-facts-display-color: var(--udexColorMango8);
    }

    &.text-green {
        --fast-facts-display-color: var(--udexColorGreen8);
    }

    &.text-grey {
        --fast-facts-display-color: var(--udexColorGrey8);
    }
}

.fast-facts__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--udexSpacer40) var(--udexGridGutters);
    list-style: none;
    margin: 0;
    padding: 0;
    justify-items: center;
}

.fast-facts__item {
    text-align: center;
    width: 60%;

    > *:not(:last-child) {
        margin-block-end: var(--udexSpacer20);
    }

    .fast-facts__item__link {
        margin: 0;
        text-align: left;
    }
}

.fast-facts__item__fact {
    font-weight: var(--udexTypographyFontWeightBold);
    color: var(--fast-facts-display-color);
}

.fast-facts__item__fact-main {
    font-size: var(--udexTypographyDisplayBoldXSFontSize);
    line-height: var(--udexTypographyDisplayLineHeight);
}

.fast-facts__item__fact-unit {
    font-size: var(--udexTypographyHeadingBoldMFontSize);
    line-height: var(--udexTypographyHeadingLineHeight);
}

.fast-facts__item__details {
    text-align: center;

    :not(:last-child) {
        margin-block-end: var(--udexSpacer8);
    }
}

.fast-facts__item__eyebrow {
    font-weight: var(--udexTypographyFontWeightMedium);
    font-size: var(--udexTypographyEyebrowSFontSize);
    line-height: var(--udexTypographyEyebrowLineHeight);
    color: var(--udexColorGrey7);
    text-transform: uppercase;
}

.fast-facts__item__headline {
    font-weight: var(--udexTypographyFontWeightMedium);
    font-size: var(--udexTypographyHeadingMediumXXSFontSize);
    line-height: var(--udexTypographyHeadingLineHeight);
    color: var(--udexColorNeutralBlack);
}

.fast-facts__item__text {
    font-size: var(--udexTypographyBodySFontSize);
    line-height: var(--udexTypographyBodyLineHeight);
    color: var(--udexColorGrey8);
}

@media (width >= 640px) {
    .fast-facts__items.even-count {
        grid-template-columns: repeat(2, 1fr);

        .fast-facts__item {
            width: 100%;
        }
    }
}
