.quote {
    margin-top: var(--udexSpacer40);
    margin-bottom: var(--udexSpacer40);
}

.quote > div {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.quote .col {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quote .qmcol {
    flex: 0 0 1.75rem;
    width: 1.75rem;
}

.quote .content {
    padding-left: 16px;
    padding-right: 16px;
    justify-content: left;
    color: var(--udexColorGrey8);
}

.quote .qt {
    margin-bottom: var(--udexSpacer24);
}

.quote .qt .oqm::before {
    content: '“';
}

.quote .qt .cqm::before {
    content: '”';
}

.quote .qt .content {
    font-size: var(--udexTypographyBodyXLFontSize);
    font-family: var(--udexTypographyBodyXLFontFamily);
    font-weight: var(--udexTypographyBodyXLFontWeight);
    line-height: var(--udexTypographyBodyXLLineHeight);

    /* align quote text with quotation marks */
    margin-top: 8px;
}

.quote .qs .content {
    font-size: var(--udexTypographyHeadingRegularXXSFontSize);
    font-family: var(--udexTypographyHeadingRegularXXSFontFamily);
    font-weight: var(--udexTypographyHeadingRegularXXSFontWeight);
    line-height: var(--udexTypographyHeadingRegularXXSLineHeight);
    padding-left: 44px;
    padding-right: 44px;
}

.quote.small .qt .content {
    font-size: var(--udexTypographyBodySFontSize);
    font-family: var(--udexTypographyBodySFontFamily);
    font-weight: var(--udexTypographyBodySFontWeight);
    line-height: var(--udexTypographyBodySLineHeight);
    padding-left: 8px;
    padding-right: 8px;

    /* align quote text with quotation marks */
    margin-top: 0;
}

.quote.small .qs .content {
    font-size: var(--udexTypographyNavigationRegularMFontFamily);
    font-family: var(--udexTypographyNavigationRegularMFontFamily);
    font-weight: var(--udexTypographyNavigationRegularMFontWeight);
    line-height: var(--udexTypographyNavigationRegularMLineHeight);
    padding-left: 36px;
    padding-right: 36px;
}

.quote .cqm,
.quote .oqm {
    font-family: var(--udexTypographyDisplayRegularLFontFamily);
    font-size: var(--udexTypographyDisplayRegularLFontSize);
    font-weight: var(--udexTypographyDisplayRegularLFontWeight);
    line-height: 84px;
    align-items: flex-start;
    color: var(--udexColorGrey8);
}

.quote.small .cqm,
.quote.small .oqm {
    font-family: var(--udexTypographyDisplayRegularMFontFamily);
    font-size: var(--udexTypographyDisplayRegularMFontSize);
    font-weight: var(--udexTypographyDisplayRegularMFontWeight);
    line-height: 72px;
}
