.quote {
    margin-top: var(--udexSpacer40);
    margin-bottom: var(--udexSpacer40);
}

.quote > div {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.quote .col {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.quote .content {
    justify-content: left;
    color: var(--udexColorGrey8);
}

.quote .content p {
    width: 100%;
    margin-top: 0;
}

.quote .content p:last-of-type {
    margin-bottom: 0;
}

.quote .qt {
    margin-bottom: var(--udexSpacer24);
}

.quote .qt .content {
    font-size: var(--udexTypographyBodyXLFontSize);
    font-family: var(--udexTypographyBodyXLFontFamily);
    font-weight: var(--udexTypographyBodyXLFontWeight);
    line-height: var(--udexTypographyBodyXLLineHeight);
    flex-flow: column;
}

.quote .qt::before,
.quote .qt::after {
    align-self: flex-start;
    flex: 0 0 30px;
    height: 100%;
    justify-content: center;
    color: var(--udexColorGrey8);
    font-family: var(--udexTypographyDisplayRegularLFontFamily);
    font-size: var(--udexTypographyDisplayRegularLFontSize);
    font-weight: var(--udexTypographyDisplayRegularLFontWeight);
    line-height: 84px;

    /* align quotation marks to quote text */
    position: relative;
    top: -8px;
}

.quote .qt::before {
    content: '“';
    padding-right: 16px;
}

.quote .qt::after {
    content: '”';
    padding-left: 16px;
}

.quote .qs .content {
    font-size: var(--udexTypographyHeadingRegularXXSFontSize);
    font-family: var(--udexTypographyHeadingRegularXXSFontFamily);
    font-weight: var(--udexTypographyHeadingRegularXXSFontWeight);
    line-height: var(--udexTypographyHeadingRegularXXSLineHeight);
    padding-left: 46px;
    padding-right: 46px;
}

.quote.small .qt .content {
    font-size: var(--udexTypographyBodySFontSize);
    font-family: var(--udexTypographyBodySFontFamily);
    font-weight: var(--udexTypographyBodySFontWeight);
    line-height: var(--udexTypographyBodySLineHeight);
}

.quote.small .qt ::before,
.quote.small .qt ::after {
    flex: 0 0 1.75rem;
    font-family: var(--udexTypographyDisplayRegularMFontFamily);
    font-size: var(--udexTypographyDisplayRegularMFontSize);
    font-weight: var(--udexTypographyDisplayRegularMFontWeight);
    line-height: 72px;

    /* align quotation marks to quote text */
    top: 0;
}

.quote.small .qt ::before {
    padding-right: 8px;
}

.quote.small .qt ::after {
    padding-left: 8px;
}

.quote.small .qs .content {
    font-size: var(--udexTypographyNavigationRegularMFontFamily);
    font-family: var(--udexTypographyNavigationRegularMFontFamily);
    font-weight: var(--udexTypographyNavigationRegularMFontWeight);
    line-height: var(--udexTypographyNavigationRegularMLineHeight);
    padding-left: 36px;
    padding-right: 36px;
}
