aside {
  --nav-links-font-size: var(--udexTypographyNavigationRegularMFontSize);
  --nav-links-font-weight: var(--udexTypographyFontWeightRegular);
  --nav-links-line-height: var(--udexTypographyNavigationLineHeight);
  --nav-text-color: var(--udexColorGrey8);
  --line-separator-color: var(--udexColorGrey2);
  --nav-margin: var(--udexGridMargins);
  --side-nav-vertical-height: 2.5rem;
  --active-marker-color: var(--udexColorBlue7);

  #sidenav {
    display: flex;
    position: relative;
    flex-direction: column;
    background: var(--udexColorNeutralWhite);
    box-shadow: 0 2px 8px 0 #2236494d;
    border-radius: 0.25rem;
    z-index: 99;
    width: 100%;
    height: 40px;

    @media (width >= 980px) {
      & {
        margin: unset;
        max-width: 180px;
        box-shadow: unset;
        border-radius: unset;
      }
    }

    & :is(a, .text) {
      color: var(--nav-text-color);
      font-size: var(--nav-links-font-size);
      font-family: var(--navlinks-font-family);
      font-weight: var(--nav-links-font-weight);
      text-decoration: none;
      cursor: pointer;
    }

    & :is(a):hover {
      color: var(--sapLink_Hover_Color);
    }

    & ul {
      list-style: none;
    }

    & .nav-drop {
      & ul > li {
        padding-inline-start: 28px;
      }
    }

    & .nav-drop::after {
      content: '\203A';
      position: absolute;
      transform: scale(1.4);
      inset: 0 calc(var(--nav-margin) + 2%) auto auto;
    }

    @media (width >=980px) {
      & .nav-drop::after {
        inset: 0 0 auto auto;
      }
    }

    & .nav-side-sections {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-15px);
      padding: var(--udexSpacer16) 0 0 var(--nav-margin);

      @media (width >=980px) {
        & {
          display: block;
          padding: unset;
          opacity: 1;
          pointer-events: auto;
          transform: unset;

          & ul {
            width: 20ch;
          }
        }
      }

      & ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: unset;
        position: relative;

        & :is(li, a) {
          font-weight: var(--udexTypographyFontWeightMedium);
        }
      }

      & .nav-drop {
        position: relative;

        &[aria-expanded='true'] {
          color: var(--sapLink_Hover_Color);

          &::after {
            transform: rotate(90deg) scale(1.2);
            transition: transform 0.3s ease-out;
            color: var(--sapLink_Hover_Color);
          }
        }

        & ul {
          opacity: 0;
          position: absolute;
          transform: translateY(-25%);
          pointer-events: none;
        }

        &[aria-expanded='true'] ul {
          opacity: 1;
          position: relative;
          padding-block-start: 12.5px;
          transform: translateY(0);
          pointer-events: auto;
          transition:
            opacity 0.3s ease-out,
            transform 0.3s ease-out;

          & a {
            font-weight: var(--nav-links-font-weight);
          }
        }
      }
    }

    &[aria-expanded='true'] {
      min-height: 100dvh;

      & .nav-side-sections {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        transition:
          opacity 0.3s ease-out,
          transform 0.3s ease-out;
      }
    }

    @media (width < 980px) {
      &[aria-expanded='true'] {
        & .nav-side-home {
          border-bottom: 1px solid var(--active-marker-color);
          box-shadow: 0 5px 2px -2px #2236494d;

          & p::after {
            color: var(--active-marker-color);
            transform: rotate(90deg) scale(1.4);
            transition: transform 0.3s;
          }
        }
      }
    }

    .nav-side-home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      top: 8px;
      cursor: pointer;
      padding-inline-start: var(--nav-margin);

      @media (width >=980px) {
        & {
          padding: var(--udexSpacer16) 0;
          border-bottom: 1px solid var(--line-separator-color);
          width: 90%;
          box-shadow: unset;
          border-radius: unset;
        }
      }

      & p {
        position: relative;
        margin: unset;
        font-size: var(--udexTypographyNavigationMediumXLFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--nav-links-line-height);

        @media (width < 980px) {
          &::after {
            content: '\203A';
            position: absolute;
            right: calc(var(--nav-margin) + 2%);
            top: 0;
            transform: scale(1.4);
          }
        }
      }

      & .button {
        color: var(--udexCoreNavigation);
        font-size: var(--udexTypographyNavigationMediumXLFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--nav-links-line-height);
        white-space: nowrap;
        padding: unset;
        margin: unset;
      }
    }
  }
}
