.external-links {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--udexSpacer16) var(--udexSpacer48);

  @media (width >=980px) {
    & {
      grid-template-columns: repeat(9, 1fr);
    }
  }

  &>div {
    grid-column: 1 / -1;

    @media (width >=980px) {
      & {
        grid-column: span 4;
      }
    }

    font-size: var(--udexTypographyHeadingMediumXXSFontSize);

    &>.button-container {
      border-bottom: 1px solid var(--udexColorGrey3);

      &>.button {
        position: relative;
        font-size: var(--udexTypographyBodySFontSize);
        border: unset;
        border-radius: unset;
        padding: unset;
        color: var(--udexColorBlue7);
        width: 100%;
        text-align: start;

        &::after {
          content: '\203A';
          position: absolute;
          padding-inline: var(--udexSpacer8);
          transform: scale(1.4);
        }
      }
    }
  }
}