.contact-container {
  padding-top: var(--udexSpacer24);
}

.contact-wrapper .logo-lang-picker {
  display: flex;
  flex-direction: row;
  padding-bottom: var(--udexSpacer48);
}

.contact-wrapper .logo-lang-picker select {
  padding: var(--udexSpacer4) var(--udexSpacer12);
  border-radius: 4px;
  border: 1px;
  min-width: 282px;
  font-size: var(--udexTypographyBodyXSFontSize);
  letter-spacing: 0;
  text-align: left;
  color: var(--udexColorGrey7);
  background-color: var(--udexColorNeutralWhite);
}

.contact-wrapper .icon-sap-logo {
  height: 32px;
  width: 65.4px;
  padding-right: var(--udexSpacer20);
}

.block.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  font-size: var(--udexTypographyBodyXSFontSize);
  letter-spacing: 0;
  text-align: left;
}

.block.contact h2 {
  font-size: var(--udexTypographyHeadingMediumXXSFontSize);
  margin: 0;
}

.block.contact h2+p {
  margin-top: var(--udexSpacer2);
}

.block.contact>div {
  display: flex;
  flex-direction: row;
  padding: 10px 16px 10px 0;
}

.block.contact .icon {
  padding-right: var(--udexSpacer16);
}

/* S */
@media (width >=640px) {
  .block.contact {
    flex-direction: column;
  }
}

/* M */
@media (width >=980px) {
  .block.contact {
    flex-direction: row;
  }
}

/* L */
@media (width >=1280px) {
  .block.contact {
    flex-direction: column;
    padding-bottom: var(--udexSpacer20);
  }
}