.hub-l2.appear {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 60px auto auto;
  grid-template-areas:
    'header'
    'side-nav'
    'main-content'
    'footer';

  @media (width >= 980px) {
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      'header header'
      'side-nav main-content'
      'footer footer';
  }

  @media (width >= 1600px) {
    & {
      --udexGridMargins: 246px;
    }
  }

  column-gap: var(--udexGridGutters);

  & :is(.header) {
    display: contents;
  }

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: side-nav;

    @media (width >= 980px) {
      margin: 0 0 0 var(--udexGridMargins);
      min-width: 200px;
    }
  }

  & > main {
    display: grid;
    grid-area: main-content;

    & > :not(.hero-container) {
      margin: 0 var(--udexGridMargins);
    }

    @media (width >= 980px) {
      & > :not(.hero-container) {
        margin: 0 var(--udexGridMargins) 0 0;
      }
    }
  }

  & > footer {
    grid-area: footer;
  }

  & > * {
    transition: margin 0.3s ease-in-out;
  }
}
