/* header and nav layout */
header {
  --navlinks-font-family: var(--udexTypographyNavigationRegularMFontFamily);
  --nav-links-font-weight: var(--udexTypographyNavigationRegularMFontWeight);
  --nav-links-font-size: var(--udexTypographyNavigationRegularMFontSize);
  --nav-links-line-height: var(--udexTypographyNavigationRegularMLineHeight);
  --nav-text-color: var(--udexColorGrey8);
  --line-separator-color: var(--udexColorGrey2);
  --flyout-menu-color: hsla(209.231deg 36% 21% / 25%);
  --header-margin: var(--udexSpacer24);
  --header-height: 60px;
  --side-nav-vertical-height: 2.5rem;
  --active-marker-color: var(--udexColorBlue7);
}

@media (width >= 640px) {
  header {
    --header-margin: var(--udexSpacer48);
  }
}

@media (width >= 980px) {
  header {
    --header-margin: var(--udexSpacer72);
  }
}

@media (width >= 1600px) {
  header {
    --header-margin: 246px;
  }
}

header :is(a, .text) {
  font-family: var(--navlinks-font-family);
  font-weight: var(--nav-links-font-weight);
  color: var(--nav-text-color);
  font-size: var(--nav-links-font-size);
  text-decoration: none;
  cursor: pointer;
}

header :is(a):hover {
  color: var(--sapLink_Hover_Color);
}

header .nav-drop::after {
  content: '\203A';
  position: absolute;
  transform: scale(1.4);
}

header ul {
  list-style: none;
}

header aside .nav-drop::after {
  inset: 0 0 auto auto;
  padding-inline: var(--header-margin);
}

header nav {
  display: flex;
  position: absolute;
  justify-content: space-between;
  inset: 0;
  z-index: 100;
  height: var(--header-height);
  background: var(--udexColorGrey1);
}

header nav .default-content-wrapper {
  display: contents;
}

header nav[aria-expanded='true'] {
  transition: background 0.3s ease;
  height: unset;
  padding: unset;
}

@media screen and (width >= 980px) {
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 3.75rem;
  }
}

@media (width >= 1600px) {
  header nav {
    gap: 0 2em;
    width: auto;
  }
}

/* brand */

header nav .nav-brand {
  display: flex;
  gap: var(--udexSpacer8);
  padding: var(--udexSpacer16) 0 var(--udexSpacer16) var(--header-margin);
  transition: padding 0.3s ease;
}

header nav[aria-expanded='true'] .nav-brand {
  display: none;
}

@media (width >= 980px) {
  header nav .nav-brand {
    display: inline-flex;
    gap: var(--udexSpacer16);
    align-self: stretch;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
    top: unset;
  }
}

header nav .nav-brand .icon {
  height: unset;
  width: 4rem;
}

header nav .nav-brand .site-label {
  display: inline;
  position: relative;
  font-family: var(--udexTypographyNavigationBoldXLFontFamily);
  font-weight: var(--udexTypographyNavigationBoldXLFontWeight);
  color: var(--udexColorGrey8);
  font-size: var(--udexTypographyNavigationBoldXLFontSize);
  letter-spacing: var(--navigation-bold-XL-letter-spacing);
  line-height: var(--udexTypographyNavigationBoldXLLineHeight);
  white-space: nowrap;
  top: -9px;
}

@media (width >= 980px) {
  header nav .nav-brand .site-label {
    top: unset;
  }
}

header nav .nav-bar {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  position: relative;
  flex: 1;
  margin: 0 0 0 100%;
}

header nav[aria-expanded='true'] .nav-bar {
  margin: 0;

  /* transform with translateX breaks fixed position of Explore SAP
  Hence using margin  */
  transition: margin-left 0.3s ease-in-out;
}

@media (width >= 980px) {
  header nav .nav-bar {
    background: unset;
    flex-direction: unset;
    align-self: center;
    margin: unset;
  }
}

/* sections */
header nav .nav-sections {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: var(--udexSpacer24) 0;
  margin-block-start: var(--udexSpacer16);
}

header nav .nav-sections ul {
  display: flex;
  flex-direction: column;
  gap: 2.938 rem;
  padding-right: var(--udexSpacer24);
}

header nav .nav-sections ul > li {
  padding: var(--udexSpacer16) 0;
  border-bottom: 1px solid var(--line-separator-color);
}

header nav .nav-sections > .search-bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  margin: 0 var(--udexSpacer24);
}

header nav .nav-sections > .search-bar > .text-box {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: var(--udexGridSColumns);
  position: relative;
  padding: 9px 12px;
  background: var(--udexCoreSurfaceLight);
  border: 1px solid var(--udexCoreBorderDefault);
  z-index: 27;
  border-radius: var(--udexRadiusXXL);
}

header nav .nav-sections > .search-bar > .text-box > .label-text {
  flex: 1 0 auto;
  position: relative;
  height: var(--udexSpacer24);
  color: var(--udexColorGrey7);
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}

header nav .nav-sections > .search-bar > .text-box > .voice-search {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: var(--udexColorNeutralWhite0);
  z-index: 29;
}

header
  nav
  .nav-sections
  > .search-bar
  > .text-box
  > .voice-search
  > .microphone {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  background: url('/icons/bell-6.svg') no-repeat center;
}

header nav .nav-sections > .search-bar > .text-box > .search {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  aspect-ratio: 1;
  background: var(--udexColorNeutralWhite0);
}

header nav .nav-sections > .search-bar > .text-box > .search > .search-e {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background: url('/icons/search.svg') no-repeat center;
}

header nav .nav-sections > .search-bar .search-box {
  flex-shrink: 0;
  position: absolute;
  background: transparent;
  border: none;
  z-index: 30;
  padding: 0 var(--udexSpacer24);
  width: 75%;
  outline: none;
  margin-left: var(--udexSpacer16);
}

header nav .nav-sections .nav-drop {
  display: block;
  position: relative;
}

header aside .nav-side-sections ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: unset;
  position: relative;
}

header nav .nav-sections .nav-drop ul {
  display: none;
}

header nav .nav-sections .nav-drop::after {
  inset: 16px 0 auto auto;
  padding-inline: var(--header-margin);
}

@media (width >= 980px) {
  header nav .nav-sections {
    order: unset;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--udexSpacer24);
    position: relative;
    flex: 1;
    background: none;
    height: auto;
    margin: 0;
    padding: 0 24px;
  }

  header nav .nav-sections .nav-drop {
    display: block;
    position: relative;
  }

  header nav .nav-sections .nav-drop::after {
    inset: auto -15px auto auto;
    transform: rotate(90deg) scale(1.2);
    padding-inline: unset;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    content: ' ';
    position: absolute;
    padding: 1px 8px;
    right: unset;
    top: unset;
    height: 1px;
    left: -5px;
    bottom: -2px;
    width: 100%;
    background: var(--udexColorBlue7);
    border-radius: 30%;
    transform: unset;
  }

  header nav .nav-sections div:nth-child(1) {
    display: none;
  }

  header nav .nav-sections ul {
    flex-direction: row;
    margin: 0;
    align-self: flex-start;
    justify-content: flex-start;
    display: inline-flex;
    gap: 24px;
  }

  header nav .nav-sections .nav-drop > ul {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    position: absolute;
    gap: 8px 48px;
    padding: 32px 48px 48px;
    top: calc(100% + 0.05rem);
    left: -25dvw;
    background: var(--udexColorNeutralWhite);
    box-shadow: 0 10px 30px 0 var(--flyout-menu-color);
    border-radius: 0.25rem;
    opacity: 0;
    transform: translateY(-15px);
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;
    pointer-events: none;
  }

  header nav .nav-sections .nav-drop > ul > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-wrap: wrap;
    border: unset;
    font-weight: var(--udexTypographyNavigationBoldXLFontWeight);
  }

  header nav .nav-sections .nav-drop > ul > li > ul {
    border-block-start: 1px solid var(--udexColorGrey2);
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: flex-start;
    padding: 12px 0;
    gap: unset;
  }

  header nav .nav-sections .nav-drop > ul > li > ul > li {
    border: unset;
    padding: 12px 0;
    white-space: unset;
    text-wrap: wrap;
    width: 22dvw;
  }

  header nav .nav-sections ul > li[aria-expanded='true'] > ul {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

/* tools */
header nav .nav-tools {
  display: flex;
  order: 1;
  justify-content: flex-end;
  gap: var(--udexSpacer16);
  padding: 0 var(--header-margin) 0 0;
  transition: padding 0.3s ease;
  visibility: hidden;
}

header nav .nav-tools p {
  display: block;
  margin: 0;
}

header nav .nav-tools .button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: unset;
  margin: unset;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background-color: var(--udexColorGrey1);
}

@media (width >= 980px) {
  header nav .nav-tools {
    order: unset;
    display: inline-flex;
    align-items: flex-end;
    gap: var(--udexSpacer8);
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
    visibility: unset;
  }

  header nav .nav-tools button {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    padding: unset;
    margin: unset;
    white-space: nowrap;
    overflow: hidden;
  }

  header .nav-tools .button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
    position: relative;
    flex: 0 0 auto;
    z-index: 3;
    align-self: center;
    width: 32px;
  }

  header nav .nav-tools .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    padding: 7px;
    position: relative;
    flex: 0 0 auto;
  }

  header .nav-tools .icon {
    position: relative;
    width: var(--udexCoreSizeIconInput);
    height: var(--udexCoreSizeIconInput);
    background-size: 100% 100%;
    background-color: var(--udexColorGrey1);
  }
}

/* explore */
header nav .nav-explore {
  order: 3;
  display: block;
  position: fixed;
  bottom: 0;
  background-color: var(--udexColorBlue7);
  height: 3.938rem;
  width: 100%;
  padding: 0 var(--udexSpacer24);
}

@media (width < 980px) {
  header nav .nav-explore ul > li > a {
    color: var(--udexColorNeutralWhite);
  }
}

@media (width >= 980px) {
  header nav .nav-explore {
    order: unset;
    display: flex;
    align-self: center;
    justify-content: flex-end;
    flex: 1;
    margin: unset;
    background: unset;
    position: unset;
    padding: 0 var(--udexSpacer24) 0 0;
    height: unset;
  }
}

/* hamburger */
header nav .nav-actions {
  display: inline-flex;
  gap: var(--udexSpacer16);
  position: absolute;
  inset: var(--udexSpacer24) 0;
  justify-content: flex-end;
  height: max-content;
  padding-right: var(--header-margin);
}

header nav .nav-actions p {
  display: block;
  margin: 0;
}

header nav .nav-actions .button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 8px 8px;
  margin: unset;
  white-space: nowrap;
  border: 0;
  background-color: var(--udexColorGrey1);
  position: relative;
  border-radius: unset;
}

header aside .nav-side-home p .button {
  font-family: var(--udexTypographyNavigationMediumXLFontFamily);
  font-weight: var(--udexTypographyNavigationMediumXLFontWeight);
  color: var(--udexCoreNavigation);
  font-size: var(--udexTypographyNavigationMediumXLFontSize);
  line-height: var(--udexTypographyNavigationMediumXLLineHeight);
  white-space: nowrap;
  padding: unset;
  margin: unset;
}

header nav[aria-expanded='true'] .nav-actions .button {
  padding-bottom: 12px;
}

header nav .nav-actions .button img {
  height: unset;
}

header nav[aria-expanded='false'] .nav-actions > :not(.burger-menu) {
  display: none;
}

header nav .nav-actions .separator {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 32px;
  background: var(--udexColorGrey3);
  z-index: 20;
  border-radius: 2px;
}

header nav .nav-actions button[aria-current='true']::after {
  content: ' ';
  position: absolute;
  padding: 2px 12px;
  height: 2px;
  left: -5px;
  bottom: -2px;
  width: 60%;
  background: var(--udexColorBlue7);
  border-radius: 40%;
}

@media (width >= 980px) {
  header nav .nav-actions {
    display: none;
  }
}

header aside {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin-block-start: calc(var(--header-height) + 1%);
  background: var(--udexColorNeutralWhite);
  box-shadow: 0 2px 8px 0 #2236494d;
  border-radius: 0.25rem;
  z-index: 99;
  width: 100%;
  height: 40px;
}

@media (width >= 980px) {
  header aside {
    padding: 0 0 0 var(--header-margin);
    margin: unset;
    max-width: 180px;
    box-shadow: unset;
    border-radius: unset;
  }
}

header aside[aria-expanded='true'] {
  min-height: 100dvh;
}

header aside .nav-side-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: 8px;
  cursor: pointer;
  padding-inline-start: var(--header-margin);
}

@media (width >=980px) {
  header aside .nav-side-home {
    padding: var(--udexSpacer16) 0;
    border-bottom: 1px solid var(--line-separator-color);
    width: 90%;
    box-shadow: unset;
    border-radius: unset;
  }
}

@media (width < 980px) {
  header aside[aria-expanded='true'] .nav-side-home {
    border-bottom: 1px solid var(--active-marker-color);
    box-shadow: 0 5px 2px -2px #2236494d;
  }
}

header aside .nav-side-home p {
  position: relative;
  margin: unset;
}

@media (width < 980px) {
  header aside .nav-side-home p::after {
    content: '\203A';
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(1.4);
    padding: 0 var(--header-margin);
  }

  header aside[aria-expanded='true'] .nav-side-home p::after {
    color: var(--active-marker-color);
    transform: rotate(90deg) scale(1.4);
    transition: transform 0.3s;
  }
}

header aside .nav-side-sections {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-15px);
  padding: var(--udexSpacer16) 0 0 var(--header-margin);
}

@media (width >=980px) {
  header aside .nav-side-sections {
    opacity: 1;
    pointer-events: auto;
    transform: unset;
  }
}

@media (width >= 980px) {
  header aside .nav-side-sections {
    display: block;
    padding: unset;
  }
}

header aside[aria-expanded='true'] .nav-side-sections {
  display: block;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

header aside .nav-drop ul > li {
  padding-inline-start: 28px;
}

@media (width >= 980px) {
  header aside .nav-side-sections ul {
    width: 20ch;
  }
}

header aside .nav-side-sections ul :is(li, a) {
  font-weight: var(--udexTypographyNavigationMediumMFontWeight);
}

header aside .nav-side-sections .nav-drop {
  position: relative;
}

header aside .nav-side-sections .nav-drop[aria-expanded='true'] {
  color: var(--sapLink_Hover_Color);
}

@media (width > 980px) {
  header aside .nav-drop::after {
    padding-inline: unset;
  }
}

header aside .nav-side-sections .nav-drop[aria-expanded='true']::after {
  transform: rotate(90deg) scale(1.2);
  transition: transform 0.3s ease-out;
  color: var(--sapLink_Hover_Color);
}

header aside .nav-side-sections .nav-drop ul {
  opacity: 0;
  position: absolute;
  transform: translateY(-25%);
  pointer-events: none;
}

header aside .nav-side-sections .nav-drop[aria-expanded='true'] ul {
  opacity: 1;
  position: relative;
  padding-block-start: 12.5px;
  transform: translateY(0);
  pointer-events: auto;
  transition:
    opacity 0.3s ease-out,
    transform 0.3s ease-out;
}

header aside .nav-side-sections .nav-drop[aria-expanded='true'] ul a {
  font-weight: var(--nav-links-font-weight);
}
