/* header and nav layout */
header .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;
  position: relative;
  background-color: var(--sap-shell-background);
  width: auto;
}

header nav {
  display: flex;
  padding: var(--udexSpacer24) 0;
  position: fixed;
  justify-content: space-between;
  inset: 0;
}

header nav[aria-expanded='true'] {
  z-index: 9999;
  background: var(--sapPageHeader_Background);
}

header nav .text {
  font-family: var(--udexTypographyNavigationRegularXLFontFamily);
  font-weight: var(--udexTypographyNavigationRegularXLFontWeight);
  color: var(--udexColorGrey8);
  font-size: var(--udexTypographyNavigationRegularXLFontSize);
  text-align: center;
  letter-spacing: 0;
  line-height: var(--udexTypographyNavigationRegularXLLineHeight);
  white-space: nowrap;
}

@media (width >= 640px) {
  header nav {
    padding: 0 48px;
  }
}

@media screen and (width >= 980px) {
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--sapShell_Navigation_Background);
    height: 3.75rem;
    padding: 0 72px;
  }
}

@media (width >= 1600px) {
  header nav {
    padding: 0 246px;
  }
}

@media (width >= 1600px) {
  header nav {
    gap: 0 2em;
    width: auto;
    padding: 0 246px;
  }

  header .nav-wrapper {
    width: auto;
  }
}

/* brand */
header nav[aria-expanded='true'] .nav-brand {
  display: none;
}

@media (width > 980px) {
  header nav .nav-brand {
    display: inline-flex;
    gap: var(--udexSpacer16);
    align-self: stretch;
    flex: 0 0 auto;
    position: relative;
  }
}

header nav .nav-brand .logo {
  position: relative;
  width: 4rem;
  margin: unset;
}

header nav .nav-brand .button-container {
  position: relative;
  width: 4rem;
}

header nav .nav-brand .icon-brand {
  display: block;
  position: relative;
}

header nav .nav-brand .fill {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 6px;
  left: 1px;
}

header nav .nav-brand .site-label {
  display: none;
}

@media (width > 980px) {
  header nav .nav-brand .site-label {
    display: block;
    position: relative;
    width: fit-content;
    font-family: var(--udexTypographyNavigationBoldXLFontFamily);
    font-weight: var(--udexTypographyNavigationBoldXLFontWeight);
    color: var(--udexColorGrey8);
    font-size: var(--udexTypographyNavigationBoldXLFontSize);
    letter-spacing: var(--navigation-bold-XL-letter-spacing);
    line-height: var(--udexTypographyNavigationBoldXLLineHeight);
    white-space: nowrap;
    font-style: normal;
  }
}

header nav .nav-bar {
  display: inline-flex;
  flex-direction: column;
  align-self: flex-start;
  max-height: 50%;
  position: relative;
  flex: 1;
}

@media (width > 980px) {
  header nav .nav-bar {
    background: unset;
    flex-direction: unset;
    align-self: center;
    padding: unset;
  }
}

/* sections */
header nav .nav-sections {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

header nav .nav-sections ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2.938 rem;
}

header nav .nav-sections ul > li {
  padding: var(--udexSpacer16) 0;
  border-bottom: 1px solid #eaecee;
}

header nav .nav-sections > .search-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: -1px;
  position: relative;
  overflow: hidden;
  border-radius: 24px;
  margin: var(--udexSpacer24) var(--udexSpacer16) 0;
}

header nav .nav-sections > .search-bar > .text-box {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  padding: 9px 12px;
  background: #f5f6f7;
  border: 1px solid #5b738b;
  z-index: 27;
  border-radius: 24px;
}

header nav .nav-sections > .search-bar > .text-box > .label-text {
  flex: 1 0 auto;
  position: relative;
  height: 24px;
  color: #475e75;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  z-index: 28;
}

header nav .nav-sections > .search-bar > .text-box > .voice-search {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0);
  z-index: 29;
}

header
  nav
  .nav-sections
  > .search-bar
  > .text-box
  > .voice-search
  > .microphone {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  background: url('/icons/bell-6.svg') no-repeat center;
  background-size: 100% 100%;
  z-index: 30;
}

header nav .nav-sections > .search-bar > .text-box > .search {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  background: rgba(255, 255, 255, 0);
  z-index: 31;
}

header nav .nav-sections > .search-bar > .text-box > .search > .search-e {
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  top: 0;
  left: 0;
  background: url('/icons/search.svg') no-repeat center;
  background-size: 100% 100%;
  z-index: 32;
}

header nav .nav-sections > .search-bar .home-search-field-input {
  flex-shrink: 0;
  position: absolute;
  width: 312px;
  height: 42px;
  top: 0;
  left: 0;
  background: transparent;
  border: none;
  z-index: 33;
  outline: none;
  padding: 0 24px;
}

@media (width > 980px) {
  header nav .nav-sections {
    order: unset;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
    position: relative;
    flex: 1;
    background: none;
    height: auto;
    margin: 0;
    padding: 0 24px;
  }

  header nav .nav-sections .nav-drop {
    display: inline-flex;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 45px 0 0;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }

  header nav .nav-sections .text:hover {
    color: var(--sapLink_Hover_Color);
  }

  header nav .nav-sections div:nth-child(1) {
    display: none;
  }

  header nav .nav-sections ul {
    flex-direction: row;
    margin: 0;
    align-self: flex-start;
    justify-content: flex-start;
    display: inline-flex;
    gap: 24px;
  }

  header nav .nav-sections > ul > li {
    border: 0;
    padding: unset;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  display: flex;
  order: 1;
  justify-content: flex-end;
  gap: var(--udexSpacer16);
  padding: 0 var(--udexSpacer24);
}

header nav .nav-tools p {
  display: block;
  margin: 0;
}

header nav .nav-tools .button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  padding: unset;
  cursor: pointer;
  margin: unset;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background-color: var(--background-color);
}

@media (width > 980px) {
  header nav .nav-tools {
    order: unset;
    display: inline-flex;
    align-items: flex-end;
    gap: var(--udexSpacer24);
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }

  header nav .nav-tools button {
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    padding: unset;
    cursor: pointer;
    margin: unset;
    white-space: nowrap;
    overflow: hidden;
  }

  header .nav-tools .button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
    position: relative;
    flex: 0 0 auto;
    z-index: 3;
    align-self: center;
    width: 32px;
  }

  header nav .nav-tools .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    padding: 7px;
    position: relative;
    flex: 0 0 auto;
  }

  header .nav-tools .icon {
    position: relative;
    width: var(--udexCoreSizeIconInput);
    height: var(--udexCoreSizeIconInput);
    background-size: 100% 100%;
    background-color: var(--udexColorNeutralWhite);
  }
}

/* explore */
header nav .nav-explore {
  order: 3;
  display: block;
  position: fixed;
  bottom: 0;
  background-color: var(--udexColorBlue7);
  height: 3.938rem;
  width: 100%;
}

header nav .nav-explore ul {
  list-style: none;
}

header nav .nav-explore ul > li > a {
  font-family: var(--udexTypographyNavigationRegularXLFontFamily);
  font-weight: var(--udexTypographyNavigationRegularXLFontWeight);
  color: var(--udexColorNeutralWhite);
  font-size: var(--udexTypographyNavigationRegularXLFontSize);
  line-height: var(--udexTypographyNavigationRegularXLLineHeight);
  white-space: nowrap;
}

@media (width > 980px) {
  header nav .nav-explore {
    order: unset;
    display: inline;
    align-self: center;
    flex: 1;
    margin: unset;
    background: unset;
    position: unset;
  }

  header nav .nav-explore ul > li > a {
    color: var(--udexColorGrey8);
  }
}

/* hamburger */
header nav .nav-hamburger {
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .burger-menu::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 220px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
