/* header and nav layout */
header .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 72px;
  position: relative;
  background-color: var(--sap-shell-background);
  width: auto;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 3.75rem;
  padding: 0 1rem;
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav .text {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--udexTypographyNavigationRegularXLFontFamily);
  font-weight: var(--udexTypographyNavigationRegularXLFontWeight);
  color: var(--udexColorGrey8);
  font-size: var(--udexTypographyNavigationRegularXLFontSize);
  text-align: center;
  letter-spacing: 0;
  line-height: var(--udexTypographyNavigationRegularXLLineHeight);
  white-space: nowrap;
}

@media (width >= 600px) {
  header nav {
    padding: 0 2rem;
  }
}

@media (width >= 900px) {
  header nav {
    gap: 0 2em;

    /* max-width: 1920px; */
    width: auto;
  }

  header .nav-wrapper {
    width: auto;
  }
}

/* brand */
header .nav-brand {
  display: inline-flex;
  align-items: center;
  gap: var(--udexSpacer16);
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

header .nav-brand .logo {
  position: relative;
  width: 4rem;
}

header .nav-brand .group {
  position: relative;
  height: 3.66vh;
  background-image: url('/icons/group-3-3.png');
  background-size: 100% 100%;
}

header .nav-brand .fill {
  position: absolute;
  width: 46px;
  height: 20px;
  top: 6px;
  left: 1px;
}

header .nav-brand .site-label {
  position: relative;
  width: fit-content;
  font-family: var(--udexTypographyNavigationBoldXLFontFamily);
  font-weight: var(--udexTypographyNavigationBoldXLFontWeight);
  color: var(--udexColorGrey8);
  font-size: var(--udexTypographyNavigationBoldXLFontSize);
  letter-spacing: var(--navigation-bold-XL-letter-spacing);
  line-height: var(--udexTypographyNavigationBoldXLLineHeight);
  white-space: nowrap;
  font-style: normal;
}

/* sections */
header nav .nav-sections {
  display: none;
}

header nav .nav-sections ul {
  display: inline-flex;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  list-style: none;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 500;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: inline-flex;
    visibility: visible;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    flex: 1;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    display: inline-flex;
    height: 60px;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
    padding: 45px 0 0;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }

  header nav .nav-sections .text:hover {
    color: var(--sapLink_Hover_Color);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 2em;
    margin: 0;

    /* font-size: var(--body-font-size-xs); */
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* explore */

header nav .nav-explore {
  display: none;
}

@media (width >= 900px) {
  header nav .nav-explore {
    display: inline;
    align-self: flex-end;
    flex: 1;
  }

  header nav .nav-explore ul {
    list-style: none;
  }
}

/* tools */
header nav .nav-tools {
  display: none;
}

@media (width >= 900px) {
  header nav .nav-tools {
    display: inline-flex;
    align-items: flex-end;
    gap: 20px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }

  header .nav-tools .header-menu-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
    position: relative;
    flex: 0 0 auto;
    z-index: 3;
  }

  header .nav-tools .button-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
    position: relative;
    flex: 0 0 auto;
    z-index: 3;
    align-self: center;
    width: 32px;
  }

  header .nav-tools .button {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    padding: 7px;
    position: relative;
    flex: 0 0 auto;
  }

  header .nav-tools .icon {
    position: relative;
    width: var(--udexCoreSizeIconInput);
    height: var(--udexCoreSizeIconInput);
    background-size: 100% 100%;
    background-color: var(--udexColorNeutralWhite);
  }
}

/* hamburger */
header nav .nav-hamburger {
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}
