.article-footnote {
  color: var(--udexColorGrey7);
  font-size: var(--udexTypographyBodyXSFontSize);
  margin-top: 58px;
  padding-top: 10px;
  border-top: 1px solid var(--udexColorGrey3);
  margin-bottom: var(--udexSpacer56);
}

.article-footnote>div>div:last-of-type {
  margin-top: var(--udexSpacer16);
}

.article-footnote p:first-of-type {
  margin-top: 0;
}

.article-footnote p:last-of-type {
  margin-bottom: 0;
}