.link-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--udexSpacer16) var(--udexSpacer48);

  &:has(div > div:nth-child(1) img) {
    row-gap: var(--udexSpacer84);
  }

  @media (width >= 980px) {
    & {
      grid-template-columns: repeat(9, 1fr);
    }

    &:has(div > div:nth-child(1) img) {
      row-gap: var(--udexSpacer48);
    }
  }

  & > div {
    grid-column: 1 / -1;

    @media (width >= 980px) {
      & {
        grid-column: span 4;
      }

      &:has(div:nth-child(1) img) {
        grid-column: span 3;
      }
    }

    & p {
      margin: 0;
      padding: 0;
    }

    /* Image + Headline */
    & > div:nth-child(1) {
      /* Headline (in `p`) */
      & p {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--udexTypographyHeadingLineHeight);
      }

      /* Image */
      & picture {
        display: block;
        margin-bottom: var(--udexSpacer20);
      }

      & img {
        display: block;
        width: 100%;
      }
    }

    /* Link + Icon (`.button-container`) */
    & > div:nth-child(2) {
      border-bottom: 1px solid var(--udexColorGrey3);
      margin-top: var(--udexSpacer16);
      padding-bottom: 22px;

      & p {
        display: flex;

        /* Icons */
        & .icon {
          display: flex;
          width: auto;
          height: 16px;

          & img {
            /* --udexColorBlue7 */
            filter: brightness(0) saturate(100%) invert(34%) sepia(98%) saturate(4614%) hue-rotate(202deg) brightness(99%) contrast(103%);
          }

          &:first-child {
            margin-right: var(--udexSpacer8);
          }

          &:last-child {
            margin-left: var(--udexSpacer8);
          }
        }

        /* Link: remove the `.button` styles */
        & a {
          /* Icon + Link */
          &:visited .icon img {
            /* --udexColorBlue10 */
            filter: brightness(0) saturate(100%) invert(11%) sepia(89%) saturate(3257%) hue-rotate(214deg) brightness(96%) contrast(112%);
          }

          &:hover .icon img {
            /* --udexColorBlue9 */
            filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%);
          }

          &:active .icon img {
            /* --udexColorBlue11 */
            filter: brightness(0) saturate(100%) invert(4%) sepia(90%) saturate(4428%) hue-rotate(230deg) brightness(98%) contrast(103%);
          }

          /* Hide global `.button` styles */
          &:has(.icon)::after {
            display: none;
          }
        }
      }
    }

    &:has(div:nth-child(1) img) > div:nth-child(2) {
      border-bottom: none;
      margin-top: var(--udexSpacer20);
      padding-bottom: 0;
    }
  }
}
