.link-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--udexSpacer16) var(--udexSpacer48);
  
  @media (width >= 980px) {
    & {
      grid-template-columns: repeat(9, 1fr);
    }
  }
  
  & > div {
    grid-column: 1 / -1;
    
    @media (width >= 980px) {
      & {
        grid-column: span 3;
      }
    }
    
    & p {
      margin: 0;
      padding: 0;
    }
    
    /* Image + Headline */
    & > div:nth-child(1) {
      /* Headline (in `p`) */
      & p {
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--udexTypographyHeadingLineHeight);
      }
      
      /* Image */
      & picture {
        display: block;
        margin-bottom: var(--udexSpacer20);
      }
      
      & img {
        display: block;
        width: 100%;
      }
    }
    
    /* Link + Icon (`.button-container`) */
    & > div:nth-child(2) {
      margin-top: var(--udexSpacer20);
      
      & p {
        align-items: center;
        display: flex;
        
        /* Icons */
        & .icon {
          display: flex;
          width: auto;
          
          & img {
            /* --udexColorBlue7 */
            filter: brightness(0) saturate(100%) invert(34%) sepia(98%) saturate(4614%) hue-rotate(202deg) brightness(99%) contrast(103%);
          }
        }
        
        & .icon-slim-arrow-right {
          height: 12px;
        }
        
        & .icon-play-icon {
          height: 16px;
        }
        
        /* Link: remove the `.button` styles */
        & a {
          align-items: center;
          color: var(--udexColorBlue7);
          display: flex;
          font-size: var(--udexTypographyNavigationMediumXLFontSize);
          font-style: normal;
          min-height: auto;
          padding: 0;
          text-decoration: none;
          white-space: nowrap;
          
          /* Link + Icon */
          & .button-text:first-child {
            margin-right: var(--udexSpacer8);
          }
          
          /* Icon + Link */
          & .icon:first-child {
            margin-right: var(--udexSpacer8);
          }
          
          &:hover,
          &:focus,
          &:active {
            color: var(--udexColorBlue9);
            
            & .icon {
              & img {
                /* --udexColorBlue9 */
                filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%);
              }
            }
          }
          
          &:any-link {
            border-radius: 0;
            border: 0 none;
            font-weight: var(--udexTypographyFontWeightRegular);
          }
          
          /* Hide global `.button` styles */
          &::after {
            display: none;
          }
        }
      }
    }
  }
}
