.link-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: var(--udexSpacer24);
}

.link-group-wrapper {
  width: 100%;
}

.link-group-container > div {
  margin: 0;
}

.block.link-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.block.link-group ul li {
  padding: 8.5px;
  font-size: var(--udexTypographyBodyXSFontSize);
  font-family: var(--udexTypographyBodyXSFontFamily);
  font-weight: var(--udexTypographyBodyXSFontWeight);
  line-height: var(--udexTypographyBodyXSLineHeight);
  letter-spacing: 0;
  text-align: left;
}

.block.link-group .icon-slim-arrow-right {
  width: 18px;
  height: 18px;
}

.block.link-group.active ul {
  display: block;
}

.block.link-group.active .icon-slim-arrow-right {
  transform: rotate(-90deg);
}

.block.link-group strong {
  padding: 8.5px;
  font-size: var(--udexTypographyHeadingRegularXXXXSFontSize);
  font-family: var(--udexTypographyHeadingRegularXXXXSFontFamily);
  font-weight: var(--udexTypographyHeadingRegularXXXXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXXXXSLineHeight);
  letter-spacing: 0;
  text-align: left;
}

.block.link-group > div > div {
  display: flex;
  align-items: center;
}

.block.link-group > div:first-of-type {
  width: 100%;
  border-bottom: 0.5px var(--udexColorGrey4) solid;
}

.block.link-group > div:first-of-type > div {
  padding: var(--udexSpacer8) 0;
}


/* S */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 640px) {
}

/* M */
@media (width >= 980px) {
  .link-group-container {
    flex-direction: row;
  }

  .block.link-group ul {
    display: block;
  }

  .block.link-group .icon-slim-arrow-right {
    display: none;
  }

  .block.link-group strong {
    padding-top: 0;
    padding-bottom: 8.5px;
    padding-left: 8.5px;
    font-size: var(--udexTypographyNavigationMediumXLFontSize);
    font-family: var(--udexTypographyNavigationMediumXLFontFamily);
    font-weight: var(--udexTypographyNavigationMediumXLFontWeight);
    line-height: var(--udexTypographyNavigationMediumXLLineHeight);
  }

  .block.link-group > div:first-of-type {
    border-bottom: none;
  }

  .block.link-group > div:first-of-type > div {
    padding: 0 0 var(--udexSpacer8);
  }

  .link-group-wrapper {
    border-bottom: none;
  }
}

/* L */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 1280px) {
}

/* XL */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 1600px) {
}
