.link-group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.link-group-wrapper {
  width: 100%;
  border-bottom: 0.5px #a9b4be solid;
}

.link-group-container > div {
  margin: 0;
}

.block.link-group ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.block.link-group ul li {
  padding: 8.5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  text-align: left;
}

.block.link-group.active ul {
  display: block;
}

.block.link-group strong {
  padding: 8.5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-align: left;
}

.block.link-group > div > div {
  display: flex;
  align-items: center;
}

.block.link-group > div:first-of-type > div {
  padding: 8px 0;
}

.block.link-group .icon-slim-arrow-right {
  width: 18px;
  height: 18px;
}

/* S */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 640px) {
}

/* M */
@media (width >= 980px) {
  .link-group-container {
    flex-direction: row;
  }

  .block.link-group ul {
    display: block;
  }

  .block.link-group .icon-slim-arrow-right {
    display: none;
  }

  .link-group-wrapper {
    border-bottom: none;
  }
}

/* L */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 1280px) {
}

/* XL */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 1600px) {
}
