/* Uses common styles */

@container content-list (width >= 640px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 115px 80px 90px;
    }

    &.wide ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@container content-list (width >= 980px) {
    ul {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 115px 80px 70px;
    }

    &.wide ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

body.hub-l2 .content-list {
    @media (width >= 980px) {
        ul {
            /* Restrict columns to 3 when sidebar is present, i.e. L2 pages */
            grid-template-columns: repeat(3, 1fr);
        }

        &.wide ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}