.content-list {
  container: content-list / inline-size;

  & .heading {
    grid-column: 1 / -1;
    margin: unset;
  }

  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    gap: var(--udexGridGutters);
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.text-only {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--udexSpacer16);
    container-type: inline-size;

    @media (width >= 980px) {
      & {
        grid-template-columns: repeat(9, 1fr);
      }
    }

    & ul {
      display: contents;

      & .card {
        grid-column: 1 / -1;

        @media (width >= 980px) {
          & {
            grid-column: span 4;
          }
        }
      }
    }

    & .button-wrapper {
      display: flex;
      justify-content: center;
      grid-column: span 6;

      @media (width >= 980px) {
        & {
          grid-column: span 8;
        }
      }
    }
  }
}

body.hub-l2 .content-list ul {
  @media (width >= 980px) {
    & {
      /* Restrict columns to 3 when sidebar is present, i.e. L2 pages */
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@container content-list (240px < width < 480px) {
  .content-list.text-only ul .card {
    grid-column: 1 / -1;
  }
}

@container content-list (width >= 640px) {
  .content-list ul {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 115px 100px 100px;
  }
}

@container content-list (width >= 980px) {
  .content-list ul {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 115px 100px 60px;
  }
}
