@import url('../../styles/section-styles.css');

.hub-l2.appear,
.hub-l1.appear {
  @media (width >= 980px) {
    display: grid;
  }

  @media (width >= 1600px) {
    & {
      --udexGridMargins: 246px;
    }
  }

  & > * {
    transition: margin 0.3s ease-in-out;
  }

  & :is(.header) {
    display: contents;
  }

  & > header {
    grid-area: header;
  }

  & > aside {
    grid-area: side-nav;

    @media (width >= 980px) {
      margin: 0 0 0 var(--udexGridMargins);
      min-width: 200px;
    }
  }

  & > main {
    display: flex;
    flex-direction: column;
    grid-area: main-content;

    & > :not(.hero-container):not(.title-banner-container) {
      & > * {
        margin: 0 var(--udexGridMargins);
      }
    }
  }

  & > footer {
    grid-area: footer;
  }
}

.hub-l1.appear {
  grid-template-areas:
    'header'
    'main-content'
    'footer';

  & > main {
    @media (width >= 980px) {
      & > :not(.hero-container) {
        padding-inline: var(--udexGridMargins);

        & > * {
          margin: unset;
        }
      }
    }
  }
}

.hub-l2.appear {
  grid-template:
    'header header' 60px
    'side-nav main-content' auto
    'footer footer' auto
    / min-content 1fr;

  & > main {
    @media (width >= 980px) {
      & > :not(.hero-container):not(.title-banner-container) {
        padding-inline: var(--udexGridGutters) var(--udexGridMargins);

        & > * {
          margin: unset;
        }
      }
    }
  }
}
