/* stylelint-disable selector-class-pattern */

.design-system-main-nav-wrapper {
  --main-nav-transition: width 0.3s ease;
  --main-nav-width: 56px;
  --main-nav-width-expanded: 217px;
  
  background: var(--udexCoreBase);
  bottom: 0;
  box-shadow: var(--sapContent_Shadow1);
  display: none;
  left: 0;
  overflow: hidden;
  padding: 24px 8px 8px;
  position: fixed;
  top: var(--headerHeight);
  transition: var(--main-nav-transition) !important;
  width: var(--main-nav-width);
  
  /* M */
  @media (width >= 980px) {
    display: block;
  }
  
  &:hover,
  &[aria-expanded="true"] {
    width: var(--main-nav-width-expanded);
  }
}

/* Block */
.design-system-main-nav {
  --main-nav-link-color-visited-hover: #DCF3FF;
  --main-nav-link-color-visited: #DEE2E5;
  --main-nav-link-color-pressed: #DEE2E5;
  --main-nav-utility-section-border-color: #A8B3BD;
  
  height: 100%;
  
}

.main-nav__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    width: auto;
    
    a {
      align-items: center;
      border-radius: var(--udexRadiusM);
      color: var(--udexColorNeutralBlack);
      display: flex;
      font-size: var(--udexTypographyBodyXSFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      gap: 0;
      justify-content: flex-start;
      position: relative;
      text-decoration: none;
      white-space: nowrap;
      
      /* Keep the order: LoVeHAte: `:link`, `:visited`, `:hover`, `:focus`, `:active` */
      &:visited {
        background: var(--main-nav-link-color-visited);
      }
      
      &:hover,
      &:focus,
      &:active {
        color: var(--udexColorNeutralBlack);
        outline: none;
        text-decoration: none;
      }
      
      &:hover,
      &:focus {
        background: var(--sapButton_Neutral_Hover_Background);
      }
      
      /* Pressed state */
      &:active {
        background: var(--main-nav-link-color-pressed);
      }
      
      img {
        display: block;
        height: var(--udexCoreSizeIconSemantic);
        width: var(--udexCoreSizeIconSemantic);
      }
      
      /* Active/Current state */
      &[aria-current="page"] {
        background: var(--sapList_SelectionBackgroundColor);
        color: var(--udexColorNeutralBlack);
        overflow: hidden;
        
        &:hover,
        &:focus {
          background: var(--main-nav-link-color-visited-hover);
        }
        
        &::before {
          background: var(--sapTile_Interactive_BorderColor);
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 3px;
        }
      }
    }
  }
}

/* .main-nav__list {} */

.main-nav__list-level-1 {
  display: flex;
  flex-direction: column;
  gap: var(--udexGridXSGutters);
  margin: 0;
  padding: 0;
}

.main-nav__list-level-2 {
  display: none;
}

/* .main-nav__section {} */

/* .main-nav__section-main {} */

.main-nav__section-utility {
  border-top: 1px solid var(--main-nav-utility-section-border-color);
  padding-top: var(--udexGridXSMargins);
}

/* .main-nav__category-header-link {} */

.main-nav__category-header-icon {
  height: var(--udexCoreSizeIconSemantic);
  margin: 10px 12px;
  width: var(--udexCoreSizeIconSemantic);
}
