.when-to-use-container {
  margin: var(--udexSpacer40) 0;
  
  .default-content-wrapper {
    h1 {
      color: var(--sapContent_TitleColor);
      font-size: var(--udexTypographyHeadingMediumXSFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      line-height: var(--udexTypographyHeadingLineHeight);
      margin: 0;
      padding: 0;
    }
  }
  
  em {
    font-style: normal;
  }
  
  strong {
    font-weight: normal;
  }
}

.when-to-use-wrapper {
  margin-bottom: var(--udexSpacer40);
}

.when-to-use {
  > div {
    margin-top: var(--udexSpacer32);
    width: 100%;
    
    /* Do + Don't headings */
    p:first-child {
      font-size: var(--udexTypographyHeadingMediumXSFontSize);
      font-weight: var(--udexTypographyFontWeightMedium);
      line-height: var(--udexTypographyHeadingLineHeight);
      margin: 0;
      padding: 0;
    }
    
    /* Do section */
    &:nth-child(1) {
      /* Do heading */
      & > div p:first-child {
        color: var(--udexColorGreen7);
      }
    }
    
    /* Don't' section */
    &:nth-child(2) {
      /* Don't heading */
      & > div p:first-child {
        color: var(--udexColorRed7);
      }
    }
  }
}

/* XS */
@media (width < 640px) {
  .when-to-use-container {
    * {
      font-size: var(--udexTypographyBodyXSFontSize);
      font-weight: var(--udexTypographyFontWeightRegular);
    }
    
    a {
      text-decoration: none;
    }
  }
}

/* S */
@media (width >= 640px) {
  .when-to-use-container {
    margin: var(--udexSpacer56) 0;
    
    .default-content-wrapper {
      h1 {
        font-size: var(--udexTypographyHeadingMediumSFontSize);
      }
    }
  }
  
  .when-to-use {
    display: flex;
    gap: var(--udexSpacer16);
    
    > div {
      /* Do + Don't headings */
      p:first-child {
        font-size: var(--udexTypographyHeadingMediumSFontSize);
      }
    }
  }
}

/* M */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 980px) {
  .when-to-use-container {
    .default-content-wrapper {
      h1 {
        font-size: var(--udexTypographyHeadingMediumMFontSize);
      }
    }
  }
  
  .when-to-use {
    gap: var(--udexSpacer24);
    
    > div {
      /* Do + Don't headings */
      p:first-child {
        font-size: var(--udexTypographyHeadingMediumMFontSize);
      }
    }
  }
}

/* L */
@media (width >= 1280px) {
  .when-to-use {
    > div {
      /* Do + Don't headings */
      p:first-child {
        border-bottom: 1px solid;
        font-size: var(--udexTypographyHeadingMediumXXSFontSize);
        margin: 0 0 2px;
        padding: 0 0 2px;
        
      }
    }
  }
}
