.video-embed {
  width: unset;
  text-align: center;
}

.video-embed > div {
  justify-content: center;
}

.video-embed .video-embed-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  cursor: pointer;
}

.video-embed .video-embed-placeholder > * {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.video-embed .video-embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-embed .video-embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.video-embed .video-embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

.video-embed .video-embed-container {
  left: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video-embed .video-embed-iframe {
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}