.content-list {
  & ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
    grid-gap: var(--udexGridGutters);
    list-style: none;
    margin: 0;
    padding: 0;

    --article-tile-height: auto;

    @media (width >= 640px) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (width >= 980px) {
      & {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
