html:has(.web-component) {
  height: 100%;
}

.web-component {
  --headerHeight: 60px;
  
  grid-template:
    'content' 1fr
    'footer' auto
    / 1fr;
  height: 100%;
  padding-top: var(--headerHeight);
  
  /* Master Header */
  > header {
    /* grid-area: header; */
    background: var(--udexColorGrey1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  
  /* Main Navigation, not part of the grid */
  > nav {
    z-index: 10;
  }
  
  /* Main Content */
  main {
    display: flex;
    flex-direction: column;
    grid-area: content;
    
    .default-content-wrapper {
      h1 {
        color: var(--sapContent_TitleColor);
        font-size: var(--udexTypographyHeadingMediumXSFontSize);
        font-weight: var(--udexTypographyFontWeightMedium);
        line-height: var(--udexTypographyHeadingLineHeight);
        margin: 0;
        padding: 0;
      }
    }
    
    > :not(.hero-container, .title-banner-container) {
      & > * {
        margin: 0 var(--udexGridMargins);
      }
    }

    > :not(:last-child, .hero-container) {
      padding-block-end: var(--udexSpacer56);
    }
    
    > :last-child {
      padding-block-end: var(--udexSpacer84);
    }
  }
  
  /* Page Footer */
  > footer {
    grid-area: footer;
  }
}

/* XS */
@media (width < 640px) {
  .web-component {
    main {
      p,
      li {
        font-size: var(--udexTypographyBodyXSFontSize);
        font-weight: var(--udexTypographyFontWeightRegular);
      }
      
      a {
        text-decoration: none;
      }
    }
  }
}

/* S */
@media (width >= 640px) {
  .web-component {
    main {
      .default-content-wrapper {
        h1 {
          font-size: var(--udexTypographyHeadingMediumSFontSize);
        }
      }
    }
  }
}

/* M */
@media (width >= 980px) {
  .web-component {
    display: grid;

    main {
      margin: 0 0 0 var(--udexGridMargins);
      
      .default-content-wrapper {
        h1 {
          font-size: var(--udexTypographyHeadingMediumMFontSize);
        }
      }
      
      & .hero-container + .section {
        padding-block-start: 84px;
      }
      
      & > :not(.hero-container, .title-banner-container) {
        padding-inline: var(--udexGridMargins);
        /* stylelint-disable-next-line */
        /* padding-inline: var(--udexGridGutters) var(--udexGridMargins); */
        
        & > * {
          margin: unset;
        }
      }
    }
    
    /* Page Footer */
    > footer {
      /* TODO: Should stay 72px? */
      margin: 0 0 0 var(--udexGridMMargins);
    }
  }
}

/* L */
/* stylelint-disable-next-line */
/* @media (width >=1280px) {} */

/* XL */
@media (width >= 1600px) {
  .web-component {
    /* TODO: This breaks layout */
    /* stylelint-disable-next-line */
    /* --udexGridMargins: 246px; */
  }
}
