.cards ul {
  --card-height: auto;

  list-style: none;
  margin: 0;
  margin-top: var(--udexSpacer40);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: var(--udexGridGutters);
}

@media (width >= 640px) {
  .cards ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards ul.cards-length-1 {
    grid-template-columns: repeat(1,1fr);
  }
}

@media (width >= 980px) {
  .cards ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards ul.cards-length-1 {
    grid-template-columns: repeat(1,1fr);
  }

  .cards ul.cards-length-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.cards ul>li {
  border: 1px solid var(--udexColorGrey2);
  box-shadow: 0 2px 4px rgb(34 54 73 / 20%);
  background-color: var(--background-color);
  height: var(--card-height);
  border-radius: var(--sapTile_BorderCornerRadius);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.cards ul>li div.cards-card-body {
  margin: var(--udexSpacer16);
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  height: 100%;
}

.cards ul>li div.cards-card-image {
  margin: var(--udexSpacer16);
  width: 6.25rem;
  height: 3rem;
}

.cards ul>li img {
  width: 6.25rem;
  height: 3rem;
}

.cards ul>li h4 {
  font-style: normal;
  font-family: var(--udexTypographyBodyXSFontFamily);
  font-weight: var(--udexTypographyDisplayMediumXSFontWeight);
  font-size: var(--udexTypographyBodyXSFontSize);
  line-height: var(--udexTypographyEyebrowMLineHeight);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--udexColorGrey6);
  margin-bottom: var(--udexSpacer8);
  position: relative;
}

.cards ul>li h4:has(.icon-sapproduct) {
  padding-left: 16px;
}

.cards ul>li h4 .icon-sapproduct {
  position: absolute;
  top: -4px;
  left: 0;
  height: 20px;
  width: 6px;  
  padding: 0;
}

.cards ul>li h4 .icon-sapproduct img {
  height: 20px; 
  width: 6px;  
  padding: 0;
}

.cards ul>li h3 {
  font-style: normal;
  font-family: var(--udexTypographyHeadingMediumXXSFontFamily);
  font-weight: var(--udexTypographyHeadingMediumXXSFontWeight);
  font-size: var(--udexTypographyHeadingMediumXXSFontSize);
  line-height: var(--udexTypographyHeadingMediumXXSLineHeight);
  letter-spacing: 0.03em;
  color: var(--udexColorNeutralBlack);
  margin-bottom: var(--udexSpacer8);
  margin-top: var(--udexSpacer8);
}

.cards ul>li div.cards-card-body, .cards ul>li div.cards-card-body a  {
  font-family: var(--udexTypographyBodyXSFontFamily);
  font-style: normal;
  text-decoration: none;
  font-weight: var(--udexTypographyBodyXSFontWeight);
  font-size: var(--udexTypographyBodyXSFontSize);
  line-height: var(--udexTypographyBodyXSFontLineHeight);
  color: var(--udexCoreTextDark);
}

.cards ul>li p {
  margin: 0;
}

.cards ul>li p.button-container {
  margin-top: auto;  
}

.cards ul>li p.button-container a {
  padding: 6px 0;
  margin: 0;
}

.cards ul>li div.cards-card-body p:nth-last-of-type(2) {
  margin-bottom: var(--udexSpacer8);
}


.cards ul>li div.cards-card-body p a, .cards ul>li div.cards-card-body p a:hover {
  background-color: unset;
  border: none;
  padding: 0;
  box-sizing: unset;
  color: var(--sapLinkColor);
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}