.author-profile {
  padding-top: var(--udexSpacer20);
}

.author-profile > div {
  display: flex;
  flex-direction: row;
  padding: var(--udexSpacer24) var(--udexSpacer20);
  gap: var(--udexSpacer24);
  border: 1px solid var(--udexColorGrey2);
  box-shadow: 0 2px 4px rgb(34 54 73 / 20%);
  background-color: var(--background-color);
  height: var(--article-tile-height);
  border-radius: var(--sapTile_BorderCornerRadius);
}

.author-profile .avatar {
  flex: 0 0 5.25rem;
  width: 5.25rem;
  height: 5.25rem;
  vertical-align: top;
  border-radius: 50%;
  border: 1px solid var(--udexColorGrey2);
}

.author-profile .avatar:hover {
  border: 1px solid var(--udexColorGrey7);
}

.author-profile .avatar img {
  object-fit: cover;
  height: 5.25rem;
  width: 5.25rem;
  vertical-align: top;
  border-radius: 50%;
}

.author-profile h2 {
  font-family: var(--udexTypographyHeadingMediumXSFontFamily);
  font-size: var(--udexTypographyHeadingMediumXSFontSize);
  font-weight: var(--udexTypographyHeadingMediumXSFontWeight);
  line-height: var(--udexTypographyHeadingMediumXSLineHeight);
  text-align: left;
  margin: 0;
  margin-bottom: 6px;
}

.author-profile p {
  font-size: var(--udexTypographyBodySFontSize);
  font-family: var(--udexTypographyBodySFontFamily);
  font-weight: var(--udexTypographyBodySFontWeight);
  line-height: var(--udexTypographyBodySLineHeight);
  text-align: left;
  margin: 0;
}

.author-profile .link {
  font-size: var(--udexTypographyBodySFontSize);
  font-family: var(--udexTypographyBodySFontFamily);
  font-weight: var(--udexTypographyBodySFontWeight);
  line-height: var(--udexTypographyBodySLineHeight);
  text-align: left;
  padding-top: var(--udexSpacer4);
  padding-bottom: var(--udexSpacer4);
}

.author-profile .link .icon img {
  height: 12px;
  width: 12px;
  padding-left: 4px;
}
