.embed {
  width: unset;
  text-align: center;
}

.embed > div {
  justify-content: center;
}

.embed .embed-placeholder {
  cursor: pointer;
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
  background-color: var(--udexColorNeutralBlack);
  opacity: 40%;
}

.embed .embed-placeholder > * {
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
}

.embed .embed-placeholder picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.embed .embed-placeholder-play button {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(3);
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 20px;
  padding: 0;
}

.embed .embed-placeholder-play button::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid;
  top: 4px;
  left: 7px;
}

.embed .embed-container {
  left: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.embed .embed-iframe {
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.embed .embed-overlay-container{
  position: relative;
  z-index:1000;
  background-color: var(--udexColorGrey2);
  color:var(--udexColorNeutralBlack);
  top: 25%;
  width: 50%;
  margin: auto;
}

.embed .embed-overlay-container .play-button-outer {
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  max-width: 5rem;
  min-height: 2.5rem;
  position: relative;
}

.embed .embed-overlay-container .play-button {
  border-color: transparent transparent transparent var(--udexColorNeutralBlack);
  border-style: solid;
  border-width: .75em 0 .75em 1.4em;
  margin: 0 auto;
  cursor: pointer;
  height: 0;
  width: 0;
}

.embed .embed-placeholder .embed-overlay-container.show{
  display: block;
}

.embed .embed-placeholder .embed-overlay-container.hide{
  display: none;
}
