/**
 * Main Navigation (Design Portal)
 */
:root {
  --main-nav-width: 56px;
  --main-nav-link-color-visited-hover: #DCF3FF;
  --main-nav-link-color-visited: #DEE2E5;
  --main-nav-link-color-pressed: #DEE2E5;
}

.main-nav-wrapper {
  background: var(--udexCoreBase);
  bottom: 0;
  box-shadow: var(--sapContent_Shadow1);
  display: none;
  left: 0;
  overflow: hidden;
  padding: 24px 8px 8px;
  position: fixed;
  top: var(--headerHeight);
  width: var(--main-nav-width);
  
  /* M */
  @media (width >= 980px) {
    display: block;
  }
}

/* Block */
.main-nav {
  height: 100%;
}

#main-nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  
  ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--udexGridXSGutters);
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style: none;
    text-align: center;
    width: auto;
    
    a {
      border-radius: var(--udexRadiusM);
      display: block;
      text-decoration: none;
      
      /* Keep the order: LoVeHAte: `:link`, `:visited`, `:hover`, `:focus`, `:active` */
      &:visited {
        background: var(--main-nav-link-color-visited);
      }
      
      &:hover,
      &:focus,
      &:active {
        outline: none;
        text-decoration: none;
      }
      
      &:hover,
      &:focus {
        background: var(--sapButton_Neutral_Hover_Background);
      }
      
      &:active {
        background: var(--main-nav-link-color-pressed);
      }
      
      span {
        display: block;
      }
      
      .icon {
        height: var(--udexCoreSizeIconSemantic);
        padding: 10px 12px;
        width: var(--udexCoreSizeIconSemantic);
      }
      
      /* Active/Current state */
      &[aria-current="page"] {
        background: var(--sapList_SelectionBackgroundColor);
        border-left: 3px solid var(--sapTile_Interactive_BorderColor);
        
        &:hover,
        &:focus {
          background: var(--main-nav-link-color-visited-hover);
        }
      }
    }
  }
}
