.title-banner {
    background-color: black;
    color: white;
    padding-left: var(--udexGridMargins);
    padding-right: var(--udexGridMargins);
}

.title-banner.author {
    background-color: rgb(54 123 179);
}

.title-banner.topics, .title-banner.tags {
    background-color: var(--sapShell_Category_3_Background);
}

.title-banner  h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    font-size: var(--udexTypographyHeadingRegularXSFontSize);
    font-family: var(--udexTypographyHeadingRegularXSFontFamily);
    font-weight: var(--udexTypographyHeadingRegularXSFontWeight);
    line-height: var(--udexTypographyHeadingRegularXSLineHeight);
}

.title-banner h1 strong {
    display: block;
    margin-top: 20px;
    font-weight: 700;
}

/* full width, ignore grid */
div.section .title-banner-wrapper {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
