.title-banner {
    background-color: black;
    color: white;
    padding-left: var(--udexGridMargins);
    padding-top: var(--udexSpacer16);
    padding-bottom: var(--udexSpacer16);
}

@media (width >= 980px) {
    .title-banner {
        padding-left: var(--udexGridGutters);
    }
}

.title-banner.author {
    background-color: rgb(54 123 179);
}

.title-banner.topics, .title-banner.tags {
    background-color: var(--sapShell_Category_3_Background);
}

.title-banner  h1 {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: var(--udexTypographyHeadingRegularXSFontSize);
}

.title-banner h1 strong {
    display: block;
    margin-top: 20px;
    font-weight: 700;
}
