.article-intro {
  font-size: var(--udexTypographyBodyMFontSize);
  font-family: var(--udexTypographyBodyMFontFamily);
  font-weight: var(--udexTypographyBodyMFontWeight);
  line-height: var(--udexTypographyBodyMLineHeight);
}

@media (width >= 980px) {
  .article-intro {
    font-size: var(--udexTypographyBodyLFontSize);
    font-family: var(--udexTypographyBodyLFontFamily);
    font-weight: var(--udexTypographyBodyLFontWeight);
    line-height: var(--udexTypographyBodyLLineHeight);
  }
}
