/* header and nav layout */
header {
  --nav-links-font-size: var(--udexTypographyNavigationRegularMFontSize);
  --nav-links-font-weight: var(--udexTypographyFontWeightRegular);
  --nav-links-line-height: var(--udexTypographyNavigationLineHeight);
  --nav-text-color: var(--udexColorGrey8);
  --line-separator-color: var(--udexColorGrey2);
  --flyout-menu-color: hsla(209.231deg 36% 21% / 25%);
  --header-margin: var(--udexGridMargins);
  --header-height: 60px;
  --active-marker-color: var(--udexColorBlue7);

  a:hover {
    color: var(--sapLink_Hover_Color);
  }

  & :is(a, .text) {
    color: var(--nav-text-color);
    cursor: pointer;
    font-size: var(--nav-links-font-size);
    font-weight: var(--nav-links-font-weight);
    text-decoration: none;
  }

  & ul {
    list-style: none;
  }

  & .nav-drop {
    position: relative;

    @media (width >= 980px) {
      & {
        display: flex;
        justify-content: center;
        position: relative;
      }
    }

    & > ul {
      display: none;
      margin: unset;

      @media (width >= 980px) {
        & {
          &:has(ul) {
            grid-template-columns: repeat(2, max-content);
          }

          background: var(--udexColorNeutralWhite);
          border-radius: 0.25rem;
          box-shadow: 0 10px 30px 0 var(--flyout-menu-color);
          display: grid;
          gap: 8px 48px;
          grid-auto-columns: max-content;
          opacity: 0;
          padding: 32px 48px 48px;
          pointer-events: none;
          position: absolute;
          top: calc(100% + 0.05rem);
          transform: translateY(-15px);
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;
        }
      }

      & > li {
        text-wrap: wrap;
        border: unset;
        font-weight: var(--udexTypographyFontWeightBold);

        & > ul {
          border-block-start: 1px solid var(--udexColorGrey2);
          margin-top: 16px;
          display: flex;
          flex-direction: column;
          align-self: stretch;
          align-items: flex-start;
          padding: 12px 0;
          gap: unset;

          & > li {
            border: unset;
            padding: 12px 0;
            white-space: unset;
            text-wrap: wrap;
            width: 22dvw;
          }
        }
      }
    }
  }

  & .nav-drop::after {
    content: '\203A';
    position: absolute;
    transform: scale(1.4);
    inset: 16px 0 auto auto;
    padding-inline: var(--header-margin);
  }

  @media (width >= 980px) {
    & .nav-drop::after {
      inset: 30px -22px 0 auto;
      padding-inline: unset;
      padding-right: 24px;
      transform: rotate(90deg) scale(1.2);
    }

    & .nav-drop[aria-expanded='true']::after {
      background: var(--udexColorBlue7);
      border-radius: 30%;
      bottom: -2px;
      content: ' ';
      height: 1px;
      left: -5px;
      padding: 1px 8px;
      position: absolute;
      right: unset;
      top: unset;
      transform: unset;
      width: 100%;
    }
  }

  & #nav-primary {
    display: flex;
    position: absolute;
    justify-content: space-between;
    inset: 0;
    z-index: 100;
    height: var(--header-height);
    background: var(--udexColorGrey1);
    text-wrap: nowrap;

    @media screen and (width >= 980px) {
      & {
        align-items: center;
        position: relative;
        height: 3.75rem;
      }
    }

    @media (width >= 1600px) {
      & {
        gap: 0 2em;
      }
    }

    & .nav-brand {
      display: flex;
      gap: var(--udexSpacer8);
      padding: var(--udexSpacer16) 0 var(--udexSpacer16) var(--header-margin);
      transition: padding 0.3s ease;

      @media (width >= 980px) {
        & {
          gap: var(--udexSpacer16);
          align-items: center;
        }
      }

      & .icon {
        height: unset;
        width: 4rem;
      }

      & .site-label {
        color: var(--udexColorGrey8);
        font-size: var(--udexTypographyNavigationBoldXLFontSize);
        font-weight: var(--udexTypographyFontWeightBold);
        letter-spacing: var(--navigation-bold-XL-letter-spacing);
        line-height: var(--udexTypographyNavigationLineHeight);
        position: relative;
        top: -9px;
        white-space: nowrap;

        @media (width >= 980px) {
          & {
            top: unset;
          }
        }
      }
    }

    & .nav-bar {
      align-self: flex-start;
      display: inline-flex;
      flex: 1;
      flex-direction: column;
      margin: 0 0 0 100%;
      position: relative;

      @media (width >= 980px) {
        & {
          align-self: center;
          flex-direction: unset;
          margin: unset;
        }
      }
    }

    & .nav-sections {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-block-start: var(--udexSpacer16);
      order: 2;
      padding: var(--udexSpacer24) 0;
      position: relative;

      @media (width >= 980px) {
        & {
          align-items: flex-start;
          background: none;
          display: inline-flex;
          flex: 1;
          gap: var(--udexSpacer24);
          height: auto;
          justify-content: center;
          margin: 0;
          order: unset;
          padding: 0 24px;
          position: relative;

          div:nth-child(1) {
            display: none;
          }
        }
      }

      & > .default-content-wrapper > ul {
        display: flex;
        flex-direction: column;
        padding-right: var(--udexSpacer24);

        @media (width >= 980px) {
          & {
            align-items: baseline;
            align-self: flex-start;
            display: inline-flex;
            flex-direction: row;
            gap: 24px;
            justify-content: flex-start;
            margin: 0;
          }
        }

        & > li {
          border-bottom: 1px solid var(--line-separator-color);
          padding: var(--udexSpacer16) 0;
        }
      }

      & > .search-bar {
        align-items: flex-start;
        align-self: stretch;
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: 0;
        justify-content: center;
        margin: 0 var(--udexSpacer24);
        overflow: hidden;
        position: relative;

        & > .text-box {
          align-items: center;
          align-self: stretch;
          background: var(--udexCoreSurfaceLight);
          border: 1px solid var(--udexCoreBorderDefault);
          border-radius: var(--udexRadiusXXL);
          display: flex;
          flex-shrink: 0;
          flex-wrap: nowrap;
          gap: 8px;
          padding: 9px 12px;
          position: relative;
          z-index: 27;

          & > .label-text {
            color: var(--udexColorGrey7);
            flex: 1 0 auto;
            height: var(--udexSpacer24);
            line-height: 24px;
            position: relative;
            text-align: center;
            white-space: nowrap;
            z-index: 28;
          }

          & > .voice-search {
            background: var(--udexColorNeutralWhite0);
            flex-shrink: 0;
            height: 18px;
            position: relative;
            width: 18px;
            z-index: 29;

            & > .microphone {
              aspect-ratio: 1;
              background: url('/aemedge/icons/bell-6.svg') no-repeat center;
              left: 0;
              position: absolute;
              top: 0;
              width: 100%;
            }
          }

          & > .search {
            aspect-ratio: 1;
            background: var(--udexColorNeutralWhite0);
            flex-shrink: 0;
            position: relative;
            width: 18px;

            & > .search-e {
              aspect-ratio: 1;
              background: url('/aemedge/icons/search.svg') no-repeat center;
              position: absolute;
              width: 100%;
            }
          }
        }

        & > .search-box {
          background: transparent;
          border: none;
          flex-shrink: 0;
          margin-left: var(--udexSpacer16);
          outline: none;
          padding: 0 var(--udexSpacer24);
          position: absolute;
          width: 75%;
          z-index: 30;
        }
      }
    }

    & .default-content-wrapper {
      display: contents;
    }

    & .nav-tools {
      display: flex;
      gap: var(--udexSpacer16);
      justify-content: flex-end;
      order: 1;
      padding: 0 var(--header-margin) 0 0;
      transition: padding 0.3s ease;
      visibility: hidden;

      & p {
        display: block;
        margin: 0;
      }

      & .button {
        background-color: var(--udexColorGrey1);
        border: 0;
        box-sizing: border-box;
        display: inline-block;
        margin: unset;
        overflow: hidden;
        padding: unset;
        text-decoration: none;
        white-space: nowrap;
      }

      @media (width >= 980px) {
        & {
          align-items: flex-end;
          align-self: stretch;
          display: inline-flex;
          flex: 0 0 auto;
          gap: var(--udexSpacer8);
          order: unset;
          position: relative;
          visibility: unset;

          & button {
            box-sizing: border-box;
            display: inline-block;
            margin: unset;
            overflow: hidden;
            padding: unset;
            text-decoration: none;
            white-space: nowrap;
          }

          & .button-container {
            align-items: flex-start;
            align-self: center;
            display: inline-flex;
            flex: 0 0 auto;
            flex-direction: column;
            padding: 14px 0;
            position: relative;
            width: 32px;
            z-index: 3;
          }

          & .button {
            align-items: flex-start;
            display: inline-flex;
            flex: 0 0 auto;
            gap: 4px;
            padding: 7px;
            position: relative;
          }

          & .icon {
            background-color: var(--udexColorGrey1);
            background-size: 100% 100%;
            height: var(--udexCoreSizeIconInput);
            position: relative;
            width: var(--udexCoreSizeIconInput);
          }
        }
      }
    }

    & .nav-explore {
      background-color: var(--udexColorBlue7);
      bottom: 0;
      display: block;
      height: 3.938rem;
      order: 3;
      position: fixed;
      width: 100%;

      @media (width < 980px) {
        & ul > li > a {
          color: var(--udexColorNeutralWhite);
        }
      }

      @media (width >= 980px) {
        & {
          align-self: center;
          background: unset;
          display: flex;
          flex: 1;
          height: unset;
          justify-content: flex-end;
          margin: unset;
          order: unset;
          padding: 0 var(--udexSpacer24) 0 0;
          position: unset;
        }
      }
    }

    & .nav-actions {
      display: inline-flex;
      gap: var(--udexSpacer16);
      height: max-content;
      inset: var(--udexSpacer24) 0;
      justify-content: flex-end;
      padding-right: var(--header-margin);
      position: absolute;

      & p {
        display: block;
        margin: 0;
      }

      & .separator {
        background: var(--udexColorGrey3);
        border-radius: 2px;
        flex-shrink: 0;
        height: 32px;
        position: relative;
        width: 1px;
        z-index: 20;
      }

      & .button {
        background-color: var(--udexColorGrey1);
        border: 0;
        border-radius: unset;
        box-sizing: border-box;
        display: inline-block;
        margin: unset;
        padding: 0 8px 8px;
        position: relative;
        text-decoration: none;
        white-space: nowrap;

        &[aria-current='true']::after {
          background: var(--udexColorBlue7);
          border-radius: 40%;
          bottom: -2px;
          content: ' ';
          display: block;
          height: 2px;
          left: -4px;
          padding: 3px 12px;
          position: absolute;
          right: -4px;
        }

        & img {
          height: unset;
        }
      }

      @media (width >= 980px) {
        & {
          display: none;
        }
      }
    }

    &[aria-expanded='true'] {
      height: unset;
      padding: unset;
      transition: background 0.3s ease;

      & .nav-brand {
        display: none;
      }

      & .nav-bar {
        margin: 0;
        margin-top: var(--header-height);

        /* transform with translateX breaks fixed position of Explore SAP
        Hence using margin  */
        transition: margin-left 0.3s ease-in-out;
      }

      & .nav-actions .button {
        padding-bottom: 12px;
      }
    }

    &[aria-expanded='false'] {
      & .nav-actions > :not(.burger-menu) {
        display: none;
      }
    }
  }
}

@media (width >= 980px) {
  header nav .nav-sections ul > li[aria-expanded='true'] > ul {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}