/* stylelint-disable selector-class-pattern */

.toc-wrapper {
  height: 100%;
}

.toc {
  position: sticky;
  top: var(--udexSpacer84);

  h2 {
    margin-top: 0;
    margin-bottom: var(--udexSpacer32);
    font-size: var(--udexTypographyHeadingMediumXXXXSFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);
  }

  .toc__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > .toc__list {
    border-left: 1px solid var(--udexCoreDividerLight);
  }

  .toc-h2 {
    font-size: var(--udexTypographyNavigationMediumMFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);
    line-height: var(--udexTypographyNavigationLineHeight);
    padding-inline-start: var(--udexSpacer16);
  }

  .toc-h3 {
    font-size: var(--udexTypographyNavigationRegularMFontSize);
    font-weight: var(--udexTypographyFontWeightRegular);
    line-height: var(--udexTypographyNavigationLineHeight);
    padding-inline-start: 28px;
  }

  .toc-h2,
  .toc-h3 {
    padding-block: 12.5px;
    padding-inline-end: var(--udexSpacer16);
    margin-inline-start: 14px;
    text-decoration: none;
    color: var(--udexColorNeutralBlack);
    flex-grow: 1;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;

    &:hover {
      background: var(--udexColorGrey1);
    }
  }
}

.toc__list-item__content {
  display: flex;
}

.toc__list-item {
  &[aria-current='true'] > .toc__list-item__content {
    span {
      display: inline-block;
      width: 3px;
      background-color: var(--udexColorBlue7);
      border-radius: 0 4px 4px 0;
      margin-left: -1px;
      flex-shrink: 0;
    }
  }

  &.parent {
    .toc__list {
      display: none;
    }

    .toc-h2::after {
      box-sizing: border-box;
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      transition: transform .3s ease;
      margin-inline-start: 16px;

      /* Use mask in order to be able to adjust SVG colour */
      mask: url("/aemedge/icons/slim-arrow-right.svg") center no-repeat;
      background-color: currentcolor;
      transform: rotate(0deg);
    }

    &[aria-expanded='true'] {
      .toc__list {
        display: block;
      }

      .toc-h2::after {
        transform: rotate(90deg);
      }
    }
  }

  &:is([aria-current='true']) > .toc__list-item__content {
    .toc-h2,
    .toc-h3 {
      margin-inline-start: 12px;
    }
  }

  &:is([aria-expanded='true'], [aria-current='true']) > .toc__list-item__content {
    .toc-h2,
    .toc-h3 {
      color: var(--udexColorBlue7);
    }
  }
}