.author-profile {
  margin-top: var(--udexSpacer20);
}

.author-profile .link a {
  font-size: var(--udexTypographyBodySFontSize);
  padding-top: var(--udexSpacer4);
  padding-bottom: var(--udexSpacer4);
  text-decoration: none;
}

.author-profile .link a:hover {
  text-decoration: underline;
}

.author-profile .link .icon img {
  height: 12px;
  width: 12px;
  padding-left: 4px;
}
