main ul.article-list {
  display: initial;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

main ul.article-list>li {
  border: 1px solid var(--dark-color);
  background-color: var(--background-color)
}

main ul.article-list>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}