.block.footer {
  display: flex;
  background: var(--udexCoreSurfaceHigher);
  padding-top: var(--udexSpacer48);
  padding-bottom: var(--udexSpacer72);
}

.block.footer > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 32px;
}

.block.footer .contact-container {
  flex: 1;
}

.block.footer .link-group-container {
  flex: 2;
}

.block.footer .icon-back-to-top {
  padding-top: var(--udexSpacer16);
  height: 32px;
  width: 32px;
}

/* S */
@media (width >= 640px) {
  .block.footer > div {
    flex-direction: column;
  }
}

/* M */
/* stylelint-disable-next-line block-no-empty */
@media (width >= 980px) {
}

/* L */
@media (width >= 1280px) {
  .block.footer > div {
    flex-direction: row;
  }

  .block.footer .icon-back-to-top {
    padding-top: 0;
  }

}

/* XL */
@media (width >= 1600px) {
  .block.footer > div {
    width: 100%;
    padding-inline: var(--udexSpacer72);
  }
}
