.block.footer {
  background: var(--udexCoreSurfaceHigher);
  display: flex;
  padding-bottom: var(--udexSpacer40);
  padding-top: var(--udexSpacer48);
  
  > div {
    display: flex;
    flex-direction: column;
    padding-inline: var(--udexGridMargins);
    position: relative;
    width: 100%;
  }
  
  .contact-container {
    flex: 1;
  }
  
  .link-group-container {
    flex: 2;
  }
  
  .icon-back-to-top {
    cursor: pointer;
    height: 32px;
    margin-top: var(--udexSpacer40);
    position: static;
    width: 32px;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
    
    &:hover {
      color: var(--sapLink_Hover_Color);
    }
  }
}

footer {
  .block.link-group p {
    margin: 0;
    
    strong {
      font-weight: var(--udexTypographyFontWeightMedium);
    }
  }
}

/* S */
@media (width >= 640px) {
  .block.footer > div {
    flex-direction: column;
  }
}

/* M */
@media (width >= 980px) {
  .block.footer {
    .icon-back-to-top {
      padding-top: 0;
      position: absolute;
      right: var(--udexSpacer24);
      top: var(--udexSpacer24);
    }
    
    .block.link-group > div:first-of-type > div {
      padding-bottom: 11.5px;
    }
  }
}

/* L */
@media (width >= 1280px) {
  .block.footer {
    > div {
      flex-direction: row;
    }
    
    .icon-back-to-top {
      margin-top: 0;
    }
  }
}
