/*
 * SAP root styles using theme design tokens (see themes/sap_glow/css_variables.css)
 * Currently implements three breakpoints:
 * - min:0px (mobile first, default)
 * - min:640px (--udexGridSMinWidth)
 * - min:980px (--udexGridMMinWidth)
 * - min:1600px (--udexGridXLMinWidth)
 * Heading/Medium: per-element
 * Heading/Regular: default
 */

/* Fall back to Arial for 72 Brand Variable
 Added to styles.css for early loading */

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 98%;
  descent-override: 22.94%;
  line-gap-override: 3.54%;
  size-adjust: 92.37%;
}

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 500;
  src: local('Arial');
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

@font-face {
  font-family: '72 Brand Variable Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

:root {
  --background-color: var(--udexColorNeutralWhite);
  --text-color: var(--sapShell_TextColor);
  --udexGridGutters: var(--udexGridXSGutters);
  --udexGridMargins: var(--udexGridXSMargins);
  --sapFontFamily: '72 Brand Variable', '72 Brand Variable Fallback', 'Arial',
    'Helvetica', 'sans-serif';
  --hero-margin--left: var(--udexGridMargins);
  --hero-margin--right: var(--udexGridMargins);
  --card-tile-height: 360px;
}

/* S */
@media (width >=640px) {
  :root {
    --udexGridGutters: var(--udexGridSGutters);
    --udexGridMargins: var(--udexGridSMargins);
  }
}

/* M */
@media (width >=980px) {
  :root {
    --udexGridGutters: var(--udexGridMGutters);
    --udexGridMargins: var(--udexGridMMargins);
  }
}

/* L */
@media (width >=1280px) {
  :root {
    --udexGridGutters: var(--udexGridLGutters);
    --udexGridMargins: var(--udexGridLMargins);
  }
}

/* XL */
@media (width >=1600px) {
  :root {
    --udexGridGutters: var(--udexGridXLGutters);
    --udexGridMargins: var(--udexGridXLMargins);
    --hero-margin--left: 246px;
    --hero-margin--right: 246px;
  }
}

body {
  font-family: var(--sapFontFamily);
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyBodyLineHeight);
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

@media (width < 980px) {
  body {
    overflow-x: hidden;
  }
}

body.appear {
  display: block;
}

header {
  height: 60px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--udexTypographyHeadingRegularMFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

h2 {
  font-size: var(--udexTypographyHeadingRegularSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing design, assumption */
h3 {
  font-size: var(--udexTypographyHeadingRegularXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing styles, assumption */
h4,
h5,
h6 {
  font-size: var(--udexTypographyHeadingRegularXXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyHeadingLineHeight);
}

/* missing styles, assumption */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

:is(h2, h3) + p {
  margin-block: 0 40px;
}

:is(h2, h3):not(:has(+ p)) {
  margin-block-end: 40px;
}

/* missing styles, assumption */
code {
  padding: 0.125em;
}

/* missing styles, assumption */
pre {
  overflow: scroll;
}

/* missing styles, assumption */
main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

.subtitle {
  & a {
    font-size: var(--udexTypographyBodyXSFontSize);
    font-weight: var(--udexTypographyFontWeightMedium);
    line-height: var(--udexTypographyDisplayLineHeight);
    color: var(--udexColorNeutralBlack) !important;
  }
}

.info {
  font-size: var(--udexTypographyNavigationRegularXSFontSize);
  font-weight: var(--udexTypographyFontWeightRegular);
  line-height: var(--udexTypographyDisplayLineHeight);
  color: var(--udexColorGrey6);
}

a:any-link {
  color: var(--udexColorBlue7);
  text-decoration: underline;
}

a:hover {
  color: var(--udexColorBlue9);
  cursor: pointer;
  text-decoration: underline;
}

main .button-container {
  strong,
  em {
    display: block;
  }

  & + p {
    margin-top: 0;
  }

  .button {
    position: relative;
    text-decoration: none;
    color: var(--udexColorBlue7);
    border-radius: 0.5rem;
    font-style: normal;
    font-size: var(--udexTypographyNavigationMediumXLFontSize);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 36px;
    padding: 9px 10px;

    &:is(a):not(.primary, .secondary)::after {
      content: '\203A';
      position: absolute;
      padding-inline: var(--udexSpacer4);
      transform: scale(1.3);
    }

    &:hover {
      color: var(--udexColorBlue9);
    }

    &:any-link,
    button {
      border-radius: 0.5rem;
      border: 0.0625rem solid transparent;
      font-weight: normal;
    }

    &.primary {
      color: var(--udexColorNeutralWhite);
      border-color: var(--udexColorBlue7);
      background-color: var(--udexColorBlue7);

      &:hover {
        color: var(--udexColorNeutralWhite);
        border-color: var(--udexColorBlue9);
        background-color: var(--udexColorBlue9);
      }

      &:active {
        color: var(--udexColorBlue9);
        border-color: var(--udexColorBlue9);
        background-color: var(--udexColorNeutralWhite);
      }
    }

    &.secondary {
      color: var(--udexColorBlue9);
      border-color: var(--udexColorGrey7);
      background-color: var(--udexColorNeutralWhite);

      &:hover {
        color: var(--udexColorBlue9);
        border-color: var(--udexColorGrey7);
        background-color: var(--udexColorGrey2);
      }

      &:active {
        color: var(--udexColorBlue9);
        border-color: var(--udexColorBlue9);
        background-color: var(--udexColorNeutralWhite);
      }
    }
  }
}

main .background-dark .button-container {
  .button {
    &.primary {
      color: var(--udexColorBlue8);
      border-color: var(--udexColorNeutralWhite);
      background-color: var(--udexColorNeutralWhite);

      &:hover {
        color: var(--udexColorBlue9);
        border-color: var(--udexColorGrey3);
        background-color: var(--udexColorGrey3);
      }

      &:active {
        color: var(--udexColorBlue10);
        border-color: var(--udexColorGrey4);
        background-color: var(--udexColorGrey4);
      }
    }

    &.secondary {
      color: var(--udexColorNeutralWhite);
      border-color: var(--udexColorNeutralWhite);
      background-color: hsl(0deg 0% 0% / 0%);

      &:hover {
        color: var(--udexColorNeutralWhite);
        border-color: var(--udexColorNeutralWhite);
        background-color: hsl(0deg 100% 100% / 20%);
      }

      &:active {
        color: var(--udexColorBlue10);
        border-color: var(--udexColorBlue10);
        background-color: var(--udexColorGrey4);
      }
    }
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/**
 * Styles for embedding video content.
 */
.video-embed-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-embed-iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  top: 0;
  left: 0;
}

main .section {
  &.divider-top {
    margin-top: 5px;
    box-shadow:
      0 -2px 0 var(--udexColorNeutralBlack),
      0 -3px 0 var(--udexCoreDividerLight),
      0 -5px 0 var(--udexColorNeutralBlack);
  }

  & .text {
    color: var(--udexColorNeutralBlack);

    & a:any-link {
      color: var(--udexColorNeutralBlack);
    }
  }

  & .link {
    & a:any-link {
      color: var(--udexColorBlue7);
    }
  }

  & .eyebrow {
    color: var(--udexColorGrey7);
  }

  &.background-dark {
    color: var(--udexColorNeutralWhite);

    & .link {
      color: var(--udexColorNeutralWhite);

      & a:any-link {
        color: var(--udexColorNeutralWhite);

        &:hover {
          color: var(--udexColorBlue3);
        }
      }
    }

    .eyebrow {
      color: var(--udexColorGrey3);
    }
  }

  &.column-section {
    padding-block: var(--udexSpacer56) var(--udexSpacer40);

    & > :nth-child(even) {
      padding-top: var(--udexSpacer40);
    }

    @media (width >=980px) {
      & {
        display: grid;
        grid-auto-flow: row dense;
        padding-block: var(--udexSpacer64) var(--udexSpacer48);
        column-gap: var(--udexGridGutters);

        &.column-section-1-1 {
          grid-template-columns: 1fr 1fr;
        }

        &.column-section-3-2 {
          grid-template-columns: 3fr 2fr;
        }

        &.column-section-2-3 {
          grid-template-columns: 2fr 3fr;
        }

        &.column-section-2-1 {
          grid-template-columns: 2fr 1fr;
        }

        &.column-section-1-2 {
          grid-template-columns: 1fr 2fr;
        }

        &.column-section-3-1 {
          grid-template-columns: 3fr 1fr;
        }

        &.column-section-1-3 {
          grid-template-columns: 1fr 3fr;
        }
      }

      & > :nth-child(even) {
        padding-top: unset;
      }
    }

    @media (width >=1280px) {
      & {
        padding-block: var(--udexSpacer84) var(--udexSpacer56);
      }
    }
  }
}

/* Embedded sections within blocks */
.fragment-container .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment-container .section:first-of-type {
  padding-top: 0;
}

.fragment-container .section:last-of-type {
  padding-bottom: 0;
}

.hero-text-white-wrapper,
.background-dark {
  --_ui5-v1-23-0-rc-4_button_border_radius: .5rem;

  udex-button {
    --udex-button-color-primary-standard-default-background: var(--udexColorNeutralWhite);
    --udex-button-color-primary-standard-default-border: var(--udexColorNeutralWhite);
    --udex-button-color-primary-standard-default-text-and-icon: var(--udexColorBlue8);
    --udex-button-color-primary-standard-hover-background: var(--udexColorGrey3);
    --udex-button-color-primary-standard-hover-border: var(--udexColorGrey3);
    --udex-button-color-primary-standard-hover-text-and-icon: var(--udexColorBlue9);
    --udex-button-color-primary-standard-active-background: var(--udexColorGrey4);
    --udex-button-color-primary-standard-active-border: var(--udexColorGrey4);
    --udex-button-color-primary-standard-active-text-and-icon: var(--udexColorBlue10);
    --udex-button-color-secondary-standard-default-background:  hsl(0deg 0% 0% / 0%);
    --udex-button-color-secondary-standard-default-border: var(--udexColorNeutralWhite);
    --udex-button-color-secondary-standard-default-text-and-icon: var(--udexColorNeutralWhite);
    --udex-button-color-secondary-standard-hover-background: hsl(0deg 100% 100% / 20%);
    --udex-button-color-secondary-standard-hover-border: var(--udexColorNeutralWhite);
    --udex-button-color-secondary-standard-hover-text-and-icon: var(--udexColorNeutralWhite);
    --udex-button-color-secondary-standard-active-background: var(--udexColorGrey4);
    --udex-button-color-secondary-standard-active-border: var(--udexColorBlue10);
    --udex-button-color-secondary-standard-active-text-and-icon: var(--udexColorBlue10);
  }
}

.author-profiles,
.profiles {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: var(--udexGridGutters);
}

/* S: use 2 per row */
@media (width >= 640px) {
  :is(.author-profiles,.profiles):not(.vertical) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* M: use 2 per row */
@media (width >= 980px) {
  :is(.author-profiles,.profiles):not(.vertical) {
    grid-template-columns: repeat(2, 1fr);
  }

  :is(.author-profiles,.profiles).elems2:not(.vertical) {
    grid-template-columns: 4fr 4fr 0.75fr;
  }
}

/* L and XL: use 3 per row, unless there are two elements */
@media (width >= 1280px) {
  :is(.author-profiles,.profiles):not(.vertical) {
    grid-template-columns: repeat(3, 1fr);
  }

  :is(.author-profiles,.profiles).elems2:not(.vertical) {
    grid-template-columns: 4fr 4fr 0.75fr;
  }
}

.section.additional-reading {
  padding: var(--udexSpacer20) var(--udexSpacer24);
  border-radius: var(--udexSpacer8);
  margin-block-end: var(--udexSpacer56);

  :first-child {
    margin-block-start: 0;
  }

  :last-child {
    margin-block-end: 0;
  }
}