.footnote {
  color: var(--udexColorGrey7);
  font-family: var(--udexTypographyBodyXSFontFamily);
  font-size: var(--udexTypographyBodyXSFontSize);
  font-weight: var(--udexTypographyBodyXSFontWeight);
  line-height: var(--udexTypographyBodyXSLineHeight);
  margin-top: 58px;
  padding-top: 10px;
  border-top: 1px solid var(--udexColorGrey3);
  margin-bottom: var(--udexSpacer56);
}