/**
 * Blog, mobile first
 */

/* Blog paragraph spacing */
.article p {
  margin-top: 18px; /* no design, assumption */
  margin-bottom: 18px; /* no design, assumption */
}

main {
  display: grid;
  grid-auto-flow: row;
  grid-template-areas:
    'hero'
    'toc'
    'maincontent'
    'promo'
    'relatedinfo';

  @media (width < 980px) {
    & > :not(.hero-container) {
      margin-inline: var(--udexGridMargins);
    }
  }

  @media (width >= 980px) {
    /* if page has table of contents it has a 3 column layout */
    &:has(.toc-container) {
      grid-template-columns: 3fr 6fr 3fr;
      grid-template-areas:
        'hero hero hero'
        'toc maincontent promo'
        'relatedinfo relatedinfo relatedinfo';
    }

    grid-template-columns: 8fr 4fr;
    grid-template-areas:
      'hero hero'
      'maincontent promo'
      'relatedinfo relatedinfo';
  }

  column-gap: var(--udexGridGutters);
  margin-block-end: var(--udexSpacer84);

  & > .hero-container {
    grid-area: hero;
    margin-block-end: var(--udexSpacer84);
    max-width: unset;
  }

  & > .toc-container {
    grid-area: toc;
    margin-inline-start: var(--udexGridMargins);
  }

  & > .article-intro-container {
    grid-area: maincontent;
  }

  /* only apply margin to main content if it starts from the first column */
  &:not(:has(.toc-container)) {
    & > .article-intro-container {
      margin-inline-start: var(--udexGridMargins);
    }
  }

  & > :nth-last-child(2) {
    grid-area: promo;
    margin-inline-end: var(--udexGridMargins);
  }

  & > .related-articles-container {
    grid-area: relatedinfo;
    margin-inline: var(--udexGridMargins);
  }
}
