/**
 * Blog, mobile first
 */

/* Blog paragraph spacing */
.article p {
  margin-top: 18px; /* no design, assumption */
  margin-bottom: 18px; /* no design, assumption */
}

/* Highlight first paragraph of blog pages using increased font size */
.article
  main
  > div:first-child
  > div.default-content-wrapper:nth-child(2)
  > p:first-child {
  font-size: var(--udexTypographyBodyLFontSize); /* no design, assumption */
}

main {
  & .section:first-child {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    column-gap: var(--udexGridGutters);

    & > .hero-wrapper {
      grid-column: 1 / 4;
    }

    &
      > div:not(
        .hero-wrapper,
        .related-articles-wrapper,
        .article-cta-banner-wrapper
      ) {
      grid-column: 2 / span 1;
    }
  }

  & .related-articles-container {
    margin-inline: var(--udexGridMargins);
  }
}
