/* Article paragraph spacing */
.article p {
  margin-top: 18px; /* no design, assumption */
  margin-bottom: 18px; /* no design, assumption */
}

@media (width >= 1600px) {
  main {
    --udexGridMargins: 246px;
  }
}

main {
  display: grid;
  grid-auto-flow: row;

  @media (width < 980px) {
    & > :not(.hero-container) {
      margin-inline: var(--udexGridMargins);
    }
  }

  & > * {
    transition-property: margin-inline-start, margin-inline-end, margin-inline,
      margin-block-end;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  @media (width >= 980px) {
    /* if page has table of contents it has a 3 column layout */
    &:has(.toc-container) {
      grid-template-columns: 3fr 6fr 3fr;
    }

    grid-template-columns: 8fr 4fr;
    grid-template-rows: repeat(3, auto);

    & > .hero-container {
      margin-block-end: var(--udexSpacer84);
      grid-column: 1 / -1;
    }

    & > .toc-container {
      grid-column: 1 / 2;
      margin-inline-start: var(--udexGridMargins);
    }

    & > :not(:is(.hero-container, .toc-container)) {
      grid-column: 2 / 3;
    }

    /* only apply margin to main content if it starts from the first column */
    &:not(:has(.toc-container)) {
      & > :nth-child(2) {
        margin-inline-start: var(--udexGridMargins);
      }
    }

    & > [data-location='sidebar'] {
      grid-column: 3 / 4;
      grid-row: -3 / -2;
      margin-inline-end: var(--udexGridMargins);
    }

    & > [data-location='document-footer'] {
      grid-column: -4 / span 3;
      margin-inline: var(--udexGridMargins);
    }
  }

  column-gap: var(--udexGridGutters);
  margin-block-end: var(--udexSpacer84);
}

/* image and video caption */
.article p > em {
  font-size: var(--udexTypographyBodyXSFontSize);
  font-family: var(--udexTypographyBodyXSFontFamily);
  line-height: var(--udexTypographyBodyXSLineHeight);
  font-weight: var(--udexTypographyBodyXSFontWeight);
  font-style: normal;
  color: var(--udexColorGrey9);
}
