/*
 * SAP root styles using theme design tokens (see themes/sap_glow/css_variables.css)
 * Currently implements three breakpoints:
 * - min:0px (mobile first, default)
 * - min:640px (--udexGridSMinWidth)
 * - min:980px (--udexGridMMinWidth)
 * - min:1600px (--udexGridXLMinWidth)
 * Heading/Medium: per-element
 * Heading/Regular: default
 */
:root {
  /* default colors */
  --background-color: var(--udexColorNeutralWhite);
  --text-color: var(--sapShell_TextColor);
  ---udexGridGutters: var(--udexGridXSGutters);
}

@media (width >= 640px) {
  :root {
    ---udexGridGutters: var(--udexGridSGutters);
  }
}

@media (width >= 980px) {
  :root {
    ---udexGridGutters: var(--udexGridMGutters);
  }
}

@media (width >= 1600) {
  :root {
    ---udexGridGutters: var(--udexGridXLGutters);
  }
}

body {
  font-family: var(--udexTypographyBodySFontFamily);
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyBodySFontWeight);
  line-height: var(--udexTypographyBodySLineHeight);
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 0.5rem; /* 8px */
}

h1 {
  font-family: var(--udexTypographyHeadingRegularMFontFamily);
  font-size: var(--udexTypographyHeadingRegularMFontSize);
  font-weight: var(--udexTypographyHeadingRegularMFontWeight);
  line-height: var(--udexTypographyHeadingRegularMLineHeight);
}

h2 {
  font-family: var(--udexTypographyHeadingRegularSFontFamily);
  font-size: var(--udexTypographyHeadingRegularSFontSize);
  font-weight: var(--udexTypographyHeadingRegularSFontWeight);
  line-height: var(--udexTypographyHeadingRegularSLineHeight);
}

/* missing design, assumption */
h3 {
  font-family: var(--udexTypographyHeadingRegularXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXSLineHeight);
}

/* missing styles, assumption */
h4,
h5,
h6 {
  font-family: var(--udexTypographyHeadingRegularXXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXXSLineHeight);
}

/* missing styles, assumption */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* missing styles, assumption */
code {
  padding: 0.125em;
}

/* missing styles, assumption */
pre {
  overflow: scroll;
}

/* missing styles, assumption */
main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--udexColorBlue7);
  text-decoration: underline;
}

a:hover {
  color: var(--udexColorBlue9);
  cursor: pointer;
  text-decoration: underline;
}

/* missing styles, assumption */
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

/* missing styles, assumption */
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--sapHoverColor);
  cursor: pointer;
}

/* missing styles, assumption */
button:disabled,
button:disabled:hover {
  cursor: unset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections: 56px spacing at the bottom */
main .section {
  padding-bottom: 56px;
}

main .section > div {
  margin-left: 18px; /* missing design, assumption */
  margin-right: 18px; /* missing design, assumption */
}

/* Tablet view (--udexGridSMinWidth) */
@media (width >= 640px) {
  main .section > div {
    margin-left: 36px; /* missing design, assumption */
    margin-right: 36px; /* missing design, assumption */
  }
}

/* Desktop view (--udexGridMMinWidth) */
@media (width >= 980px) {
  main .section > div {
    margin-left: 72px;
    margin-right: 72px;
  }
}
