/*
 * SAP root styles using theme design tokens (see themes/sap_glow/css_variables.css)
 * Currently implements three breakpoints:
 * - min:0px (mobile first, default)
 * - min:640px (--udexGridSMinWidth)
 * - min:980px (--udexGridMMinWidth)
 * - min:1600px (--udexGridXLMinWidth)
 * Heading/Medium: per-element
 * Heading/Regular: default
 */
:root {
  /* default colors */
  --background-color: var(--udexColorNeutralWhite);
  --text-color: var(--sapShell_TextColor);

  /* Margin and gutters */
  --udexGridGutters: var(--udexGridXSGutters);
  --udexGridMargins: var(--udexGridXSMargins);
}

/* S */
@media (width >= 640px) {
  :root {
    --udexGridGutters: var(--udexGridSGutters);
    --udexGridMargins: var(--udexGridSMargins);
  }
}

/* M */
@media (width >= 980px) {
  :root {
    --udexGridGutters: var(--udexGridMGutters);
    --udexGridMargins: var(--udexGridMMargins);
  }
}

/* L */
@media (width >= 1280px) {
  :root {
    --udexGridGutters: var(--udexGridLGutters);
    --udexGridMargins: var(--udexGridLMargins);
  }
}

/* XL */
@media (width >= 1600px) {
  :root {
    --udexGridGutters: var(--udexGridXLGutters);
    --udexGridMargins: var(--udexGridXLMargins);
  }

  main .section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: var(--udexTypographyBodySFontFamily);
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyBodySFontWeight);
  line-height: var(--udexTypographyBodySLineHeight);
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: 60px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 0.5rem; /* 8px */
}

h1 {
  font-family: var(--udexTypographyHeadingRegularMFontFamily);
  font-size: var(--udexTypographyHeadingRegularMFontSize);
  font-weight: var(--udexTypographyHeadingRegularMFontWeight);
  line-height: var(--udexTypographyHeadingRegularMLineHeight);
}

h2 {
  font-family: var(--udexTypographyHeadingRegularSFontFamily);
  font-size: var(--udexTypographyHeadingRegularSFontSize);
  font-weight: var(--udexTypographyHeadingRegularSFontWeight);
  line-height: var(--udexTypographyHeadingRegularSLineHeight);
}

/* missing design, assumption */
h3 {
  font-family: var(--udexTypographyHeadingRegularXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXSLineHeight);
}

/* missing styles, assumption */
h4,
h5,
h6 {
  font-family: var(--udexTypographyHeadingRegularXXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXXSLineHeight);
}

/* missing styles, assumption */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* missing styles, assumption */
code {
  padding: 0.125em;
}

/* missing styles, assumption */
pre {
  overflow: scroll;
}

/* missing styles, assumption */
main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--udexColorBlue7);
  text-decoration: underline;
}

a:hover {
  color: var(--udexColorBlue9);
  cursor: pointer;
  text-decoration: underline;
}

/* missing styles, assumption */
a.button:any-link,
button {
  display: inline-block;
  font-size: var(--udexTypographyBodySFontSize);
  color: var(--udexColorBlue9);
  padding: 9px 10px;
  border-radius: var(--udexRadiusM);
  border-color: var(--udexColorGrey7);
  border: 1px solid;
  background-color: var(--udexColorNeutralWhite);
}

/* missing styles, assumption */
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--sapHoverColor);
  cursor: pointer;
}

/* missing styles, assumption */
button:disabled,
button:disabled:hover {
  cursor: unset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections: 56px spacing at the bottom */
main .section {
  padding-bottom: 56px;
}

main .section > div {
  margin-left: var(--udexGridMargins);
  margin-right: var(--udexGridMargins);
}
