/*
 * SAP root styles using theme design tokens (see themes/sap_glow/css_variables.css)
 * Currently implements three breakpoints:
 * - min:0px (mobile first, default)
 * - min:640px (--udexGridSMinWidth)
 * - min:980px (--udexGridMMinWidth)
 * - min:1600px (--udexGridXLMinWidth)
 * Heading/Medium: per-element
 * Heading/Regular: default
 */

/* Fall back to Arial for 72 Brand Variable
 Added to styles.css for early loading */

@font-face {
  font-family: "72 Brand Variable Fallback";
  font-style: normal;
  font-weight: 700;
  src: local("Arial Bold");
  ascent-override: 98%;
  descent-override: 22.94%;
  line-gap-override: 3.54%;
  size-adjust: 92.37%;
}

@font-face {
  font-family: "72 Brand Variable Fallback";
  font-style: normal;
  font-weight: 500;
  src: local("Arial");
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

@font-face {
  font-family: "72 Brand Variable Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 90.58%;
  descent-override: 21.2%;
  line-gap-override: 3.27%;
  size-adjust: 99.94%;
}

:root {
  /* default colors */
  --background-color: var(--udexColorNeutralWhite);
  --text-color: var(--sapShell_TextColor);

  /* Margin and gutters */
  --udexGridGutters: var(--udexGridXSGutters);
  --udexGridMargins: var(--udexGridXSMargins);
}

/* S */
@media (width >= 640px) {
  :root {
    --udexGridGutters: var(--udexGridSGutters);
    --udexGridMargins: var(--udexGridSMargins);
  }
}

/* M */
@media (width >= 980px) {
  :root {
    --udexGridGutters: var(--udexGridMGutters);
    --udexGridMargins: var(--udexGridMMargins);
  }
}

/* L */
@media (width >= 1280px) {
  :root {
    --udexGridGutters: var(--udexGridLGutters);
    --udexGridMargins: var(--udexGridLMargins);
  }
}

/* XL */
@media (width >= 1600px) {
  :root {
    --udexGridGutters: var(--udexGridXLGutters);
    --udexGridMargins: var(--udexGridXLMargins);
  }

  main .section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
  font-family: var(--udexTypographyBodySFontFamily);
  font-size: var(--udexTypographyBodySFontSize);
  font-weight: var(--udexTypographyBodySFontWeight);
  line-height: var(--udexTypographyBodySLineHeight);
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

@media (width < 980px) {
  body {
    overflow-x: hidden;
  }
}

body.appear {
  display: block;
}

header {
  height: 60px;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem; /* 32px */
  margin-bottom: 0.5rem; /* 8px */
}

h1 {
  font-family: var(--udexTypographyHeadingRegularMFontFamily);
  font-size: var(--udexTypographyHeadingRegularMFontSize);
  font-weight: var(--udexTypographyHeadingRegularMFontWeight);
  line-height: var(--udexTypographyHeadingRegularMLineHeight);
}

h2 {
  font-family: var(--udexTypographyHeadingRegularSFontFamily);
  font-size: var(--udexTypographyHeadingRegularSFontSize);
  font-weight: var(--udexTypographyHeadingRegularSFontWeight);
  line-height: var(--udexTypographyHeadingRegularSLineHeight);
}

/* missing design, assumption */
h3 {
  font-family: var(--udexTypographyHeadingRegularXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXSLineHeight);
}

/* missing styles, assumption */
h4,
h5,
h6 {
  font-family: var(--udexTypographyHeadingRegularXXSFontFamily);
  font-size: var(--udexTypographyHeadingRegularXXSFontSize);
  font-weight: var(--udexTypographyHeadingRegularXXSFontWeight);
  line-height: var(--udexTypographyHeadingRegularXXSLineHeight);
}

/* missing styles, assumption */
p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* missing styles, assumption */
code {
  padding: 0.125em;
}

/* missing styles, assumption */
pre {
  overflow: scroll;
}

/* missing styles, assumption */
main pre {
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--udexColorBlue7);
  text-decoration: underline;
}

a:hover {
  color: var(--udexColorBlue9);
  cursor: pointer;
  text-decoration: underline;
}

/* missing styles, assumption */
a.button:any-link,
button {
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

/* missing styles, assumption */
a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--sapHoverColor);
  cursor: pointer;
}

/* missing styles, assumption */
button:disabled,
button:disabled:hover {
  cursor: unset;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections: 56px spacing at the bottom */
main .section {
  padding-bottom: 56px;
}

.video-embed-container {
  left: 0;
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
}

.video-embed-iframe {
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}