.promo {
  border-radius: var(--udexRadiusL);
  margin: var(--udexSpacer40) 0;
  background-color: var(--udexColorGrey1);
}

.promo.blue {
  background-color: var(--udexColorBlue1);
}

.promo>div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: var(--udexSpacer24);
  gap: var(--udexSpacer24);
}

.promo>div h3 {
  margin: 0;
}

@media (width <640px) {
  .promo>div {
    flex-direction: column;
  }
}

.promo p {
  font-size: var(--udexTypographyBodySFontSize);
  text-align: left;
  margin: 0;
}

.promo>div>div:last-child {
  flex-grow: 1;
}

.promo>div>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:first-of-type {
    margin-bottom: var(--udexSpacer24);
  }
}

.promo img {
  max-width: 120px;
  max-height: 120px;
  display: block;
}

.promo h4 {
  font-size: var(--udexTypographyEyebrowLFontSize);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
  color: var(--udexColorBlue8);
}

.promo h2 {
  font-size: var(--udexTypographyHeadingMediumXSFontSize);
  text-align: left;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
}

.promo div>p a,
.promo .button-container .button {
  height: 36px;
  border-radius: 8px;
  border: 1px solid;
  text-align: center;
  color: var(--udexColorBlue9);
  border-color: var(--udexColorGrey7);
  background-color: var(--udexCoreBase);
  overflow: unset;
}


.promo div>p a,
.promo .button-container .button.primary {
  color: var(--udexCoreBase);
  border-color: var(--udexColorBlue7);
  background-color: var(--udexColorBlue7);
  height: auto;
}

.promo p.button-container {
  margin: 0;
  margin-top: var(--udexSpacer24);
}

.promo p.button-container.no-margin {
  margin: 0;
}

.promo .button-container {
  margin: 0;
}

.promo .button-container a {
  margin: 0;
}

.promo div>p:not(.button-container) a {
  padding: 5px 30px;
  text-decoration: none;
  display: inline-block;
  font-style: italic;
}