.promo {
  border-radius: var(--udexRadiusL);
  margin: var(--udexSpacer40) 0;
  background-color: var(--udexColorGrey1);
}

.promo.blue {
  background-color: var(--udexColorBlue1);
}

.promo>div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  padding: var(--udexSpacer24);
  gap: var(--udexSpacer24);
}

.promo>div :nth-child(1),
.promo>div :nth-child(3) {
  flex-grow: 1;
}

.promo>div :nth-child(2) {
  flex-grow: 2;
}

.promo>div h3 {
  margin: 0;
}

@media (width <640px) {
  .promo>div {
    flex-direction: column;
  }
}

.promo p {
  font-size: var(--udexTypographyBodySFontSize);
  text-align: left;
  margin: 0;
}

.promo.block {
  p:not(.button-container) {
    margin-bottom: 20px;
  }
}

.promo>div>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:first-of-type {
    margin-bottom: var(--udexSpacer24);
  }
}

.promo img {
  max-width: 120px;
  max-height: 120px;
  display: block;
}

.promo h4 {
  font-size: var(--udexTypographyEyebrowLFontSize);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
  color: var(--udexColorBlue8);
}

.promo h2 {
  font-size: var(--udexTypographyHeadingMediumXSFontSize);
  text-align: left;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
}
