.promo {
  border-radius: var(--udexRadiusL);
  margin: var(--udexSpacer40) 0;
  background-color: var(--udexColorGrey1);
}

.promo.blue {
  background-color: var(--udexColorBlue1);
}

.promo>div {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: var(--udexSpacer24);
  gap: var(--udexSpacer24);
}

.promo>div h3 {
  margin: 0;
}

@media (width <640px) {
  .promo>div {
    flex-direction: column;
  }
}

.promo p {
  font-size: var(--udexTypographyBodySFontSize);
  text-align: left;
  margin: 0;
}

.promo.block {
  p:not(.button-container) {
    margin-bottom: 20px;
  }
}

.promo>div>div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:first-of-type {
    margin-bottom: var(--udexSpacer24);
  }
}

.promo img {
  max-width: 120px;
  max-height: 120px;
  display: block;
}

.promo h4 {
  font-size: var(--udexTypographyEyebrowLFontSize);
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
  color: var(--udexColorBlue8);
}

.promo h2 {
  font-size: var(--udexTypographyHeadingMediumXSFontSize);
  text-align: left;
  margin: 0;
  margin-bottom: var(--udexSpacer8);
}

.button-container {
  strong, em {
    display: block;
  }

  .button {
    position: relative;
    color: var(--udexColorBlue9);
    border-radius: 0.5rem;
    font-style: normal;
    font-size: var(--udexTypographyNavigationMediumXLFontSize);

    &:any-link {
      border-radius: 0.5rem;
      padding: 0;
      border: .0625rem solid transparent;
      font-weight: normal;

      &.no-margin {
        margin: 0 !important;
      }
    }

    &.small {
      min-height: 25px;
      padding: 5px 10px;
    }

    &.medium {
      min-height: 36px;
      padding: 9px 10px;
    }

    &.large {
      min-height: 42px;
      padding: 14px 28px 14px 14px;
    }

    &.primary {
      color: var(--udexColorNeutralWhite);
      border-color: var(--udexColorBlue7);
      background-color: var(--udexColorBlue7);

      &:hover {
        color: var(--udexColorNeutralWhite);
        border-color: var(--udexColorBlue9);
        background-color: var(--udexColorBlue9);
      }
    }

    &.secondary {
      color: var(--udexColorBlue9);
      border-color: var(--udexColorGrey7);
      background: var(--udexColorNeutralWhite);
      font-style: italic;

      &:hover {
        color: var(--udexColorBlue9);
        border-color: var(--udexColorGrey7);
        background-color: var(--udexColorGrey2);
      }
    }
  }
}