:root {
  --sc: calc((100vw - (var(--udexGridGutters)*11) - (var(--udexGridMargins)*2)) / 12);
  --sg12c: calc(var(--sc)*12 + var(--udexGridGutters)*11);
  --sg9c: calc(var(--sc)*9 + var(--udexGridGutters)*8);
  --sg8c: calc(var(--sc)*8 + var(--udexGridGutters)*7);
  --sg6c: calc(var(--sc)*6 + var(--udexGridGutters)*5);
  --sg4c: calc(var(--sc)*4 + var(--udexGridGutters)*3);
  --sg3c: calc(var(--sc)*3 + var(--udexGridGutters)*2);
  --sg2c: calc(var(--sc)*2 + var(--udexGridGutters)*1);
}

@media (width >= 1600px) {
  :root {
    --sc: calc((1600px - (var(--udexGridGutters) * 11) - (var(--udexGridMargins) * 2)) / 12);
  }
}

.sg12c-elem {
    width: var(--sg12c);
}

.sg9c-elem {
    width: var(--sg9c);
}

.sg8c-elem {
    width: var(--sg8c);
}

.sg6c-elem {
    width: var(--sg6c);
}

.sg4c-elem {
    width: var(--sg4c);
}

.sg3c-elem {
    width: var(--sg3c);
}

.sg2c-elem {
    width: var(--sg2c);
}


.grid {
    padding-top: 20px;
}

.grid-elem {
    float: left;
    box-shadow: 0 2px 4px rgb(34 54 73 / 20%);
    background-color: var(--background-color);
    height: 50px;
    position: relative;
    margin-right: var(--udexGridGutters);
}

.grid-elem span {
    padding: 10px;
}

.grid-elem.grid-row-last-elem {
    margin-right: auto;
}

.grid-row-end {
    clear: both;
}

