.accordion p {
  margin: 0
}

.accordion details {
  border-bottom: 1px solid var(--udexColorGrey3);
  width: 100%
}

.accordion details summary {
  position: relative;
  padding: var(--udexSpacer12) var(--udexSpacer12) var(--udexSpacer12) var(--udexSpacer8);
  cursor: pointer;
  list-style: none;
  overflow: auto;
  display: inline-flex;
  align-items: center;
  font-size: var(--udexTypographyHeadingMediumXXXSFontSize);
  font-weight: var(--udexTypographyFontWeightMedium);
  box-sizing: border-box;
  width: 100%;
}

.accordion .accordion-arrow {
  box-sizing: border-box;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform .3s ease;

  /* Helps ensure icon and text are aligned properly */
  line-height: var(--udexTypographyHeadingMediumXXXSFontSize);
  width: 42px;
  height: 42px;

  /* Icon image should be 18px x 18px. Set padding to (42px - 18px) / 2 = 12px */
  padding: var(--udexSpacer12);
  margin-right: var(--udexSpacer12);

  img {
    /* --udexColorBlue7 */
    filter: brightness(0) saturate(100%) invert(16%) sepia(88%) saturate(2645%) hue-rotate(212deg) brightness(97%) contrast(107%);
  }
}

.accordion details[open] .accordion-arrow {
  transform: rotate(90deg);
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details .accordion-item-body {
  padding: var(--udexSpacer12) var(--udexSpacer16);
}
